/* 楠炶崵浼�*/
.banner_bg {
	background: #e8e8e8 url(../images/banner_shadow.png) repeat-x 0 100%;
	padding: 10px 0 5px;
	width: 100%;
	min-width: 1002px;
}

.i-hot {
	width: 1002px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}

.i-hot .JQ-slide {
	width: 1002px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.i-hot .JQ-slide-content {
	position: relative;
	width: 1002px;
	height: 400px;
}

.i-hot .JQ-slide-content li {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 1002px;
	height: 400px;
}

.i-hot .JQ-slide-content li a {
	display: block;
	width: 1002px;
	height: 400px;
}

.i-hot .JQ-slide-content li img {
	width: 1002px;
	height: 400px;
}

.i-hot .JQ-slide-content li i {
	display: block;
	width: 1002px;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #000;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.i-hot .JQ-slide-content li span {
	display: block;
	color: #fff;
	font: 18px/28px "Microsoft YaHei";
	position: absolute;
	top: 340px;
	left: 25px;
	z-index: 10;
	width: 430px;
	overflow: hidden;
	text-align: left;
}

.i-hot .JQ-slide-content li span.descri {
	display: block;
	color: #dbdbdb;
	font: 12px/28px "Microsoft YaHei";
	position: absolute;
	top: 368px;
	left: 25px;
	z-index: 10;
	width: 430px;
	overflow: hidden;
	text-align: left;
}

.i-hot .JQ-slide-nav {
	position: absolute;
	right: 10px;
	top: 342px;
	z-index: 10;
	height: 48px;
	overflow: hidden;
}

.i-hot .JQ-slide-nav li {
	float: left;
	display: block;
	background: #fff;
	width: 100px;
	height: 48px;
	margin: 0 0 0 10px;
	cursor: pointer;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.i-hot .JQ-slide-nav li.on {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* 韫囶偊锟界拋銏偍 */
.order_ct {
	float: left;
	width: 680px;
}

.order_i {
	position: relative;
	width: 652px;
	padding: 12px 14px 12px;
}

.or_txt {
	position: relative;
	height: 32px;
	padding-bottom: 15px;
}

.or_txt h2 {
	float: left;
	width: 114px;
}

.or_txt .more {
	position: absolute;
	left: 114px;
	top: 12px;
	height: 16px;
	color: #ff6600;
	font: 14px/16px "\5b8b\4f53";
}

.or_txt .more a, .or_txt .more a:hover {
	color: #ff6600;
}

.news_cont {
	padding-top: 20px;
}

.s_b_list {
	position: relative;
	width: 652px;
	padding: 15px 0 15px;
}

.s_b_list a.s_b_a {
	float: left;
	background: url(../images/img.png) no-repeat 0 -745px;
	display: inline;
	width: 204px;
	height: 26px;
	line-height: 26px;
	margin: 0 3px 0 4px;
	padding: 0 0 0 6px;
	color: #000;
	color: #666666;
}

.s_b_tag {
	width: 155px;
	overflow: hidden;
	line-height: 51px;
	color: #fe9e00;
}

.s_b_tag a {
	color: #fe9e00;
	text-decoration: underline;
}

.s_b_pos1 {
	position: absolute;
	z-index: 100;
	top: 42px;
	left: 5px;
	background: #fff;
	border: 1px #cccccc solid;
	width: 640px;
}

h4.s_b_pos_tit {
	background: #e6e6e6;
	border: 1px #fff solid;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #222;
	text-indent: 1em;
}

.s_b_pos_cont {
	padding: 8px;
}

.s_b_pos_cont .film_total {
	height: 24px;
	line-height: 24px;
	color: #000;
	padding: 0 6px;
}

.s_b_pos_cont ul.l_c1_1 {
	float: left;
	padding: 6px 6px 0;
}

.s_b_pos_cont ul.l_c1_1 li {
	float: left;
	display: inline;
	width: 194px;
	margin-right: 10px;
	padding: 0 0 10px;
	overflow: hidden;
}

.s_b_pos_cont ul.l_c1_1 li a {
	color: #1370b8;
	white-space: nowrap;
}

.s_b_pos_cont ul.l_c1_1 li a:hover {
	color: #ff8f0b;
}

.s_b_pos_cont .line {
	border-top: 1px #cfcfcf solid;
	height: 1px;
	overflow: hidden;
}

.s_b_pos_cont ul.l_c1_2 {
	padding: 14px 6px 0;
}

.s_b_pos_cont ul.l_c1_2 li {
	width: 198px;
	padding: 0 0 10px 0;
	margin-right: 2px;
}

.s_b_pos2 {
	left: 220px;
	width: 428px;
}

.s_b_pos2 .s_b_pos_cont ul.l_c1_1 li {
	width: 50px;
}

.s_b_pos3 {
	right: 5px;
	left: auto;
	width: 432px;
}

.s_b_pos3 .s_b_pos_cont ul.l_c1_1 li.orange {
	font-weight: bold;
	color: #ff8f0b;
	padding: 0 10px 10px 0;
}

.s_b_pos3 .s_b_pos_cont ul.l_c1_1 li {
	width: auto;
	padding: 0 14px 10px 0;
}

.s_b_pos3 .s_b_pos_cont ul.l_c1_2 li {
	padding-right: 40px;
}

.h_flims {
	height: 32px;
}

.h_flims .t {
	font: 18px/32px "Microsoft YaHei";
}

.h_flims .m {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background: #47b7ff;
	border: 1px #0099ff solid;
	color: #fff;
	font: 20px/30px "Microsoft YaHei";
	text-align: center;
	padding: 0 15px;
	border-radius: 3px;
}

.i_lc_img {
	margin-top: 17px;
}

.i_lc_img img {
	display: block;
}
/* 娴兼ɑ鍎箛顐ヮ唵 */
.ty_cont {
	height: 98px;
	border-bottom: 1px #d4d4d4 dashed;
	margin-top: 6px;
}

.ty_cont .pic {
	float: left;
	width: 88px;
}

.ty_cont .pic a {
	display: block;
	width: 72px;
	height: 88px;
}

.ty_cont .pic img {
	border: 1px #d4d4d4 solid;
	width: 70px;
	height: 88px;
}

.ty_cont .cont {
	
}

.ty_list {
	position: relative;
	padding: 6px 0 0;
	height: 48px;
}

.ty_list li {
	background: url(../images/img.png) no-repeat -208px -360px;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 16px;
	width: 210px;
	overflow: hidden;
}

.ty_list .more {
	position: absolute;
	right: 0;
	bottom: 2px;
}

/* 濮濓絽婀悜顓熸Ё */
.hot_film {
	padding: 12px;
}

.hot_film .m {
	position: absolute;
	right: 0;
	top: 5px;
	height: 24px;
	text-align: center;
	color: #ff6600;
	font: 14px/24px "\5b8b\4f53";
}

.hot_film .h_txt {
	margin-bottom: 12px;
}

.tx_film {
	width: 440px;
	padding-left: 8px;
}

.tx_film .pic {
	position: relative;
	width: 440px;
	height: 270px;
	margin-bottom: 12px;
	border: #cecece 1px solid;
}

.tx_film .pic .p, .tx_film img {
	display: block;
	width: 440px;
	height: 270px;
}

.tx_film .pic .x {
	position: absolute;
	width: 440px;
	height: 44px;
	left: 0;
	bottom: 0;
	background: #000;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.tx_film .c {
	position: absolute;
	width: 340px;
	height: 44px;
	left: 0;
	bottom: 0;
	padding: 0 85px 0 15px;
}

.tx_film .c h3 {
	float: left;
	color: #fff;
	height: 44px;
	line-height: 44px;
	margin-right: 10px;
	width: auto !important;
	width: 230px;
	max-width: 230px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.tx_film .s {
	float: left;
	position: relative;
	padding-top: 14px;
	width: 100px;
}

.tx_film .s .score {
	position: absolute;
	right: 0;
	top: 14px;
	color: #ffffff;
	font-weight: bold;
}

.tx_film .c .price {
	position: absolute;
	right: 10px;
	top: 10px;
	font: 16px/24px "Microsoft YaHei";
	color: #ff6600;
}

.tx_film .cont {
	height: 100px;
	overflow: hidden;
}

.tx_film .cont .w {
	display: inline-block;
	min-width: 100px;
	max-width: 160px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	margin-right: 10px;
}

.hot_cine {
	
}

.hot_cine .txt {
	position: relative;
	border-bottom: 1px #cccccc dashed;
	height: 34px;
	line-height: 34px;
}

.hot_cine .txt h3 {
	height: 34px;
	line-height: 34px;
}

.hot_cine .txt .a {
	position: absolute;
	height: 16px;
	line-height: 16px;
	right: 0;
	top: 9px;
	color: #ff6600;
}

.hot_cine .txt .a a, .hot_cine .txt .a a:hover {
	color: #ff6600;
}

.hot_cine .c_list {
	padding: 10px 0;
}

.hot_cine .c_list li {
	float: left;
	width: 220px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.hot_film .wt {
	float: right;
	width: 500px;
}

/* 閸楀啿鐨㈡稉濠冩Ё */
.go_box {
	
}

.go_txt {
	border-bottom: 1px #cccccc solid;
	height: 36px;
	padding: 10px 14px 0;
}

.go_txt h2 {
	float: left;
	width: 125px;
}

.go_tabs {
	float: left;
	position: relative;
	top: 1px;
}

.go_tabs li {
	float: left;
	background-position: 0 -55px;
	width: 130px;
	padding: 12px 0 0 0;
	height: 24px;
	text-align: center;
	font: 16px/24px "Microsoft YaHei";
}

.go_tabs li.cur {
	background-position: 0 -101px;
}

.go_tabs li a {
	display: block;
	width: 130px;
}

.go_tabs li.cur a {
	color: #ff6600;
}

.go_cont {
	padding: 30px 0;
	height: 180px;
	overflow: hidden;
}

.h_n_col {
	position: relative;
	height: 180px;
	padding: 0 44px;
}

.go_slide_cont {
	position: relative;
	width: 912px;
	height: 180px;
	overflow: hidden;
}

.go_slide_cont .JQ-slide-content {
	position: absolute;
}

.go_slide_cont .JQ-slide-content li {
	float: left;
	width: 304px;
}

.h_n_col .JQ-slide-nav a {
	display: block;
	z-index: 10;
	width: 24px;
	height: 25px;
	overflow: hidden;
	text-indent: -999em;
	position: absolute;
	top: 50%;
	margin-top: -12px;
}

.h_n_col .JQ-slide-nav a.prev {
	left: 10px;
	background-position: 0 -147px;
}

.h_n_col .JQ-slide-nav a.next {
	right: 10px;
	background-position: -45px -147px;
}

/* 鐠у嫯顔�*/
.hot_news {
	float: left;
	width: 652px;
	height: 377px;
	padding: 12px 16px;
}

.h_txt {
	position: relative;
}

.h_txt .more {
	position: absolute;
	right: 0;
	top: 5px;
	background-color: #999999;
	width: 50px;
	height: 24px;
	text-align: center;
	color: #fff;
	font: 14px/24px "\5b8b\4f53";
}

.news_cont {
	padding-top: 20px;
}

.news_l {
	float: left;
	width: 344px;
}

.news_l .pic {
	margin-bottom: 15px;
}

.news_l .pic a, .news_l .pic img {
	display: block;
}

.news_l .cont {
	
}

.news_l .cont h3 {
	margin-bottom: 4px;
	height: 26px;
	overflow: hidden;
}

.news_l .cont h3 a {
	color: #0099cc;
}

.news_l .cont p {
	font-size: 12px;
	line-height: 24px;
}

.news_l .cont .more, .news_l .cont .more a {
	color: #ff6600;
}

.news_r {
	float: right;
	width: 272px;
}

.news_r dl {
	border-bottom: 1px #cccccc dashed;
	height: 60px;
	overflow: hidden;
	margin-bottom: 5px;
}

.news_r dl.last {
	border: none;
	margin: 0;
}

.news_r dt, .news_r dt a {
	font-weight: bold;
	color: #000000;
}

.news_r dt a:hover {
	text-decoration: underline;
}

.news_r dd {
	font-size: 12px;
}

.rw_news {
	float: right;
	width: 280px;
	padding: 12px 7px;
}

.rw_cont {
	
}

.rw_cont dl {
	height: 100px;
	border-bottom: 1px #999999 dashed;
	margin-top: 14px;
}

.rw_cont dl.last {
	border: none;
}

.rw_cont dt {
	float: left;
	width: 90px;
	height: 90px;
}

.rw_cont dt a, .rw_cont dt img {
	display: block;
	width: 90px;
	height: 90px;
}

.rw_cont dd {
	float: right;
	width: 176px;
}

.rw_cont dd h4 {
	font-size: 14px;
	color: #0099cc;
	overflow: hidden;
	height: 24px;
}

.rw_cont dd h4 a {
	color: #0099cc;
}

.rw_cont dd h4 a:hover {
	text-decoration: underline;
}

.rw_cont dd p {
	font-size: 12px;
}

.rw_cont dd p .more, .rw_cont dd p a {
	color: #ff6600;
}

.gz_list {
	padding-top: 30px;
}

.gz_list li {
	float: left;
}

.gz_list_reset li {
	background: none;
}

.gz_list_reset li a {
	background: url(../images/img.png) no-repeat 0 0;
}

.gz_list li a {
	display: block;
	width: 150px;
	padding-left: 80px;
}

.gz_list .k_1 {
	background-position: -140px 0;
}

.gz_list li.k_2 {
	background: url(../images/img.png) no-repeat 0 0;
	width: 150px;
	padding-left: 80px;
	background-position: -140px -90px;
}

.gz_list .k_3 {
	background-position: -140px -180px;
}

.gz_list .k_4 {
	background-position: -140px -270px;
}

.gz_list li p {
	font-size: 12px;
	color: #999999;
}
/*2014.3.7 start*/
.total-num {
	float: right;
	color: #ff6600;
}
/*2014.3.7 end*/
.s_b_pos2 .s_b_pos_cont ul.area_ul li {
	width: 90px;
}

.weixin_index {
	width: 184px;
	position: absolute;
	right: 260px;
	top: 60px;
}

.weixin_index1 {
	width: 184px;
	position: absolute;
	right: 480px;
	top: 60px;
}

.kehuduan_index {
	width: 184px;
	position: absolute;
	right: 50px;
	top: 60px;
}

.shuoming {
	font-size: 12px;
	line-height: 20px;
	color: #999999;
}

.gz_list_reset {
	margin-bottom: 60px;
}

.img-cen {
	text-align: center;
}

.shuoming .weixin_title {
	font-size: 18px;
	line-height: 40px;
	color: #33b0f0;
	padding: 0px 15px;
	text-align: center;
}

.ty_cont .pic-828 {
	width: 128px;
}

.ty_cont .pic-828 a {
	display: block;
	width: 120px;
	height: 90px;
}

.ty_cont .pic-828 img {
	width: 120px;
	height: 90px;
}

.hot_news_829 {
	float: left;
	width: 652px;
	height: 377px;
	padding: 12px 16px;
}

.hot_news1_829 {
	height: 399px;
}

.rw-cont-904 dd {
	float: right;
	width: 345px;
}