.hot_zx {
	float: left;
	width: 640px;
	padding: 12px 20px;
}

.hot_zx .zx .pic {
	float: left;
	width: 217px;
}

.hot_zx .zx .cont {
	float: right;
	width: 390px;
}

.hot_zx .zx .cont h3 {
	margin-bottom: 5px;
	height: 32px;
	overflow: hidden;
}

.hot_zx .zx .cont p {
	font-size: 12px;
	line-height: 24px;
	height: 124px;
	margin-bottom: 10px;
}

.hot_zx .zx .xg .s {
	background: url(../images/img.png) no-repeat -187px -536px;
	padding-left: 33px;
}

.hot_zx .zx .xg li {
	position: relative;
	background: url(../images/img.png) no-repeat -208px -359px;
	padding: 0 0 0 12px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	overflow: hidden;
}

.hot_zx .zx .xg li a {
	margin-right: 80px;
}

.hot_zx .zx .xg li .date {
	position: absolute;
	right: 0;
	top: 0;
	color: #8c8c8c;
}

.px_box {
	float: right;
	width: 290px;
	padding: 12px 5px;
}

.px_box h2 {
	display: inline-block;
	background: url(../images/pd_2.png) no-repeat 100% 50%;
	padding: 0 170px 0 10px;
	margin-bottom: 10px;
}

.px_tabs {
	border-bottom: 1px #cccccc solid;
}

.px_tabs ul {
	position: relative;
	top: 1px;
	margin-left: 10px;
}

.px_tabs li {
	float: left;
	width: 90px;
}

.px_tabs li a {
	float: left;
	display: block;
	background: url(../images/img.png) no-repeat -97px -467px;
	width: 90px;
	height: 28px;
	padding-top: 5px;
	text-align: center;
	font: 16px/28px "Microsoft YaHei"
}

.px_tabs li a.cur {
	color: #ff6600;
	background-position: 0 -467px;
}

.px_cont {
	padding: 5px 3px;
}

.px_com {
	
}

.px_com dt {
	position: relative;
	height: 26px;
	font: 14px/26px "Microsoft YaHei"
}

.px_com dt .p {
	position: absolute;
	right: 0;
	top: 0;
}

.px_com dt .n {
	display: inline-block;
	width: 80px;
	text-align: center;
}

.px_com dd {
	position: relative;
	border-bottom: 1px #cccccc dashed;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 12px;
}

.px_com dd.last {
	border: none;
}

.px_com dd .n {
	display: block;
	margin-right: 80px;
	height: 28px;
	overflow: hidden;
}

.px_com dd em {
	position: absolute;
	right: 2px;
	top: 0;
}

.flim_dx {
	padding: 12px 20px;
}

.f_dx_cont {
	background: url(../images/b_line.png) no-repeat 475px 0;
}

.f_dx_com {
	float: left;
	width: 455px;
	padding-left: 20px;
}

.f_dx_com .c {
	background-color: #d09898;
	width: 98px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}

.f_dx_com .c a {
	color: #fff;
}

.f_dx_com .w {
	background-color: #7a96ce;
}

.pic_cont {
	float: left;
	width: 204px;
}

.pic_cont .pic {
	width: 204px;
	margin-bottom: 6px;
}

.pic_cont .pic a, .pic_cont .pic img {
	display: block;
	width: 204px;
	height: 231px;
}

.pic_cont h3 {
	font-size: 14px;
	line-height: 20px;
	width: auto !important;
	width: 204px;
	max-width: 204px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin-bottom: 6px;
}

.pic_cont .cont {
	font-size: 12px;
}

.f_dx_com .pic_list {
	float: right;
	width: 225px;
	padding-right: 10px;
}

.f_dx_com .pic_list li {
	background: url(../images/img.png) no-repeat -208px -358px;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 16px;
}

.mx_photos {
	float: left;
	width: 450px;
	padding: 12px 20px;
}

.bl_txt {
	height: 32px;
	line-height: 32px;
	margin-bottom: 8px;
}

.bl_txt h2 {
	display: inline-block;
	background: url(../images/pd_img.png) no-repeat 100% 50%;
	padding-right: 270px;
}

.mx_pcont {
	width: 450px;
	overflow: hidden;
}

.mx_pcont ul {
	width: 482px;
}

.mx_pcont li {
	float: left;
	display: inline;
	margin: 0 15px 10px 0;
}

.mx_pcont li .pic {
	display: block;
	background: url(../images/pic_k.png) no-repeat;
	padding: 4px 14px 17px 4px;
}

.mx_pcont li .pic a, .mx_pcont li .pic img {
	display: block;
	width: 197px;
	height: 126px;
}

.mx_pcont li .txt {
	display: block;
	text-align: center;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}

.rw_box {
	float: right;
	width: 450px;
	padding: 12px 20px;
}

.rw_cont {
	
}

.rw_cont dl {
	height: 104px;
	border-bottom: 1px #999999 dashed;
	margin-top: 14px;
}

.rw_cont dl.last {
	border: none;
}

.rw_cont dt {
	float: left;
	width: 90px;
	height: 90px;
}

.rw_cont dt a, .rw_cont dt img {
	display: block;
	width: 90px;
	height: 90px;
}

.rw_cont dd {
	float: right;
	width: 345px;
}

.rw_cont dd h4 {
	font-size: 14px;
	color: #0099cc;
}

.rw_cont dd h4 a {
	color: #0099cc;
}

.rw_cont dd h4 a:hover {
	text-decoration: underline;
}

.rw_cont dd p {
	font-size: 12px;
}

.rw_cont dd p .more, .rw_cont dd p a {
	color: #ff6600;
}

.com_act {
	padding: 14px 18px;
}

.com_act .h_txt {
	margin-bottom: 15px;
}

.act_t {
	border-bottom: 1px #cccccc dashed;
	margin-bottom: 20px;
}

.act_area {
	margin-bottom: 10px;
}

.act_area li {
	float: left;
	padding: 0 10px;
	width: 86px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
}

.act_area li a {
	display: block;
	width: 86px;
	height: 26px;
}

.act_area li a.cur, .act_area li a.cur:hover {
	background-color: #09a2dc;
	color: #fff;
}

.act_ser {
	padding-bottom: 14px;
}

.i_so {
	position: relative;
	background-position: 0 0;
	width: 246px;
	height: 24px;
	padding: 3px 14px 2px;
}

.i_so .search-keyword {
	float: left;
	background-color: #f1f1f1;
	width: 212px;
	padding: 0 3px;
	height: 24px;
	line-height: 24px;
	border: 0;
	font-size: 14px;
	color: #b3b3b3;
}

.i_so .search_btn {
	position: absolute;
	right: 18px;
	top: 3px;
	background-position: -109px -180px;
	width: 23px;
	height: 25px;
}

.act_cont {
	width: 660px;
}

.act_txt {
	height: 32px;
	margin: 0 0 15px 22px;
}

.act_txt .new {
	background: url(../images/img.png) no-repeat -208px -360px;
	padding-left: 14px;
	margin: 0 10px;
	font-size: 18px;
}

.act_list {
	
}

.act_list li {
	float: left;
	width: 306px;
	display: inline;
	margin: 0 0 22px 22px;
}

.act_list li .pic, .act_list li img {
	display: block;
	width: 306px;
	height: 191px;
}

.act_list li .txt {
	padding-top: 10px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.act_list li .txt .at {
	float: left;
	padding: 0 30px 0 10px;
	display: inline-block;
	width: auto !important;
	width: 210px;
	max-width: 210px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.act_list li .txt span {
	display: inline-block;
}

.act_side {
	width: 260px;
}

.b_t, .b_b {
	background-position: 0 -39px;
	width: 260px;
	height: 15px;
	overflow: hidden;
}

.b_b {
	background-position: 0 -64px;
}

.b_cont {
	border-left: 1px #dddddd solid;
	border-right: 1px #dddddd solid;
	padding: 0 26px 26px;
}

.ls_txt {
	background-position: -184px -394px;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	margin-bottom: 20px;
}

.b_cont li {
	float: left;
	margin-bottom: 30px;
}

.b_cont li a, .b_cont li img {
	display: block;
	width: 204px;
	height: 240px;
}

.flim_type {
	position: relative;
	margin-bottom: 10px;
}

.flim_type .t {
	position: absolute;
	left: 10px;
	top: 0;
	font-weight: bold;
}

.flim_type ul {
	padding: 0 0 0 132px;
}

.flim_type ul li {
	float: left;
	width: 80px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 7px;
}

.flim_type ul li a {
	float: left;
	display: block;
	background: url(../images/img.png) no-repeat -201px -438px;
	padding-left: 20px;
}

.flim_type ul li a.cur {
	background-position: -201px -463px;
}

.flim_sort {
	padding-bottom: 10px;
}

.flim_sort ul {
	padding-left: 10px;
}

.flim_sort li {
	float: left;
	width: 141px;
}

.flim_sort li a {
	background: url(../images/sort_img.png) no-repeat 100% -36px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding-right: 28px;
}

.flim_sort li a.cur {
	background-position: 100% 0;
	color: #0085ec;
}

.flim_s_list {
	padding-left: 20px;
}

.flim_s_list li {
	margin: 0 20px 25px;
}

.s_date_page {
	clear: both;
	padding: 10px 0;
	*padding-top: 30px;
}

ul.s_page_list {
	float: left;
	position: relative;
	left: 50%;
}

ul.s_page_list li {
	float: left;
	position: relative;
	left: -50%;
	margin: 0 3px;
}

ul.s_page_list li a {
	float: left;
	display: block;
	background: url(../images/img.png) no-repeat -87px -232px;
	width: 39px;
	height: 40px;
	text-align: center;
	line-height: 36px;
}

ul.s_page_list li a.cur {
	background-position: -87px -281px;
	color: #fff;
}

ul.s_page_list li a.pre, ul.s_page_list li a.next {
	background-position: 0 -281px;
	width: 78px;
}

ul.s_page_list li a.pre:hover, ul.s_page_list li a.next:hover {
	background-position: 0 -232px;
	color: #b8b8b8;
}

.crumbs {
	font-size: 12px;
}

.order_tabs {
	padding-top: 26px;
	border-bottom: 1px #cccccc solid;
}

.order_tabs .t {
	position: relative;
	top: 1px;
	text-align: center;
}

.order_tabs a {
	display: inline-block;
	background: url(../images/img.png) no-repeat 0 -412px;
	width: 165px;
	height: 40px;
	padding-top: 5px;
	font: 16px/40px "Microsoft YaHei"
}

.order_tabs a.cur {
	background-position: 0 -357px;
	color: #ff6600;
}

.ord_dw {
	border-bottom: 1px #c3c3c3 dashed;
	padding: 0 15px 15px;
	margin-bottom: 15px;
}

.ord_dw_list li {
	float: left;
	display: inline;
	width: 430px;
	margin: 0 0 0 25px;
}

.ord_dw_list li .pic {
	float: left;
	width: 190px;
	padding-top: 46px;
}

.ord_dw_list li .cont {
	float: left;
	width: 230px;
}

.ord_dw_list li .cont h2 {
	color: #838383;
	margin-bottom: 8px;
}

.ord_dw_list li .cont .p {
	position: relative;
	padding-left: 16px;
	margin-bottom: 10px;
	color: #838383;
}

.ord_dw_list li .cont .p_w {
	position: absolute;
	left: -4px;
	top: 2px;
	*top: -4px;
	_left: -20px;
}

.ord_dw_list li .cont .pcode {
	padding-left: 50px;
}

.ord_dw_list li .cont .pcode img {
	padding: 3px;
	border: 1px #e5e5e5 solid;
	box-shadow: 0 0 3px 2px #efefef;
}

.ord_lq_box {
	padding: 0 15px;
}

.ord_lq_box h2, .ord_dw h2 {
	margin-bottom: 15px;
}

.ord_lq_list li {
	float: left;
	display: inline;
	width: 201px;
	margin: 0 15px;
}

.ord_lq_list li .t {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.ord_lq_list li img {
	width: 193px;
	padding: 3px;
	border: 1px #e5e5e5 solid;
	box-shadow: 0 0 3px 2px #efefef;
}

.ord_lq_list_1 {
	padding-left: 90px;
}

.ord_lq_list_1 li {
	width: 250px;
	margin: 0 60px;
}

.ord_lq_list_1 li img {
	width: 238px;
}

.wap_box {
	height: 34px;
	padding: 15px 0 5px 44px;
}

.wap_box .wt {
	float: left;
	width: 190px;
	font-size: 24px;
	line-height: 32px;
	font-family: "Microsoft YaHei", tahoma, arial, san-serif;
	font-weight: normal;
	color: #444;
	text-align: right;
}

.wap_box .w_txt {
	float: left;
	width: 280px;
	height: 30px;
	line-height: 30px;
	border: 1px #b3b3b3 solid;
	padding: 0 3px;
	margin: 0 8px;
}

.wap_box .w_btn {
	margin-left: 200px;
	display: block;
	width: 140px;
	background: #47b7ff;
	border: 1px #0099ff solid;
	font: 16px/32px "Microsoft YaHei";
	color: #fff;
	text-align: center;
	padding: 0 18px;
}

.wap_box .code_img {
	float: left;
}

.wap_box .code_rbtn {
	float: left;
	margin-left: 8px;
	line-height: 32px;
	font-size: 14px;
	text-decoration: underline;
}

.weixi_box {
	position: relative;
	padding: 0 0 0 30px;
	min-height: 144px;
}

.weixi_box dl {
	margin-bottom: 20px;
	color: #444444;
}

.weixi_box dt {
	font-weight: bold;
	margin-bottom: 10px;
}

.weixi_box .pic {
	position: absolute;
	right: 100px;
	top: 0;
}

.weixi_box .pic img {
	padding: 3px;
	border: 1px #e5e5e5 solid;
	box-shadow: 0 0 3px 2px #efefef;
}

.login_com {
	float: left;
	width: 405px;
	padding-left: 50px;
	min-height: 320px;
}

.login_com h2, .regist_com h2 {
	text-align: center;
	color: #666666;
	margin-bottom: 24px;
}

.login_cont {
	padding-top: 24px;
}

.k_item {
	height: 46px;
}

.k_item_area {
	height: 104px;
}

.k_item .t, .k_item_2 .t {
	float: left;
	width: 80px;
	padding-right: 20px;
	text-align: right;
	height: 28px;
	line-height: 28px;
}

.ip_txt {
	border: 1px #b3b3b3 solid;
	height: 26px;
	line-height: 26px;
	width: 240px;
	padding: 0 3px;
	font-size: 12px;
	color: #b6b6b6;
}

.ip_txt_2 {
	width: 130px;
}

.ip_txt470 {
	float: left;
	width: 470px;
}

.ip_textarea {
	float: left;
	border: 1px #b3b3b3 solid;
	height: 85px;
	line-height: 26px;
	width: 470px;
	padding: 0 3px;
	font-size: 12px;
	color: #b6b6b6;
}

.k_item_1 {
	padding-left: 100px;
}

.k_item_1 .rem {
	color: #666666;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	z-index: 5;
}

.k_item_1 .rem input {
	vertical-align: middle;
	margin-right: 5px;
}

.k_login {
	padding-left: 100px;
	width: 244px;
	text-align: center;
}

.k_login .btn, .k_regist .btn {
	display: inline-block;
	background: #00B38A;
	border: 1px #0099ff solid;
	font: 20px/30px "Microsoft YaHei";
	color: #fff;
	text-align: center;
	padding: 0 26px;
}

.regist_com {
	width: 400px;
	padding-left: 50px;
}

.k_item_2 {
	height: 36px;
}

.k_item_3 {
	padding-left: 50px;
}

.k_item_3 .rem {
	width: 240px;
}

.k_item_2 .rcode {
	display: inline-block;
	background-color: #cdcdcd;
	border: 1px #b3b3b3 solid;
	width: 104px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.k_regist {
	text-align: center;
}

.k_regist .btn {
	font: 14px/26px "Microsoft YaHei";
	padding: 0 14px;
}

.cinema_list {
	padding: 12px 29px;
}

.cinema_list .h_txt {
	margin-bottom: 15px;
}

.cinema_list .h_txt .m {
	font-size: 14px;
	margin-left: 15px;
}

.cin_select {
	position: relative;
	width: 941px;
	z-index: 2;
}

.cin_select .act_ser {
	position: absolute;
	right: 0;
	top: 2px;
}

.cin_tabs {
	position: relative;
	top: 1px;
}

.cin_tabs li {
	float: left;
	display: inline;
	margin-right: 2px;
	background: url(../images/img.png) no-repeat 0 -632px;
	width: 140px;
	height: 32px;
	line-height: 32px;
	padding-top: 4px;
	text-align: center;
	cursor: pointer;
	color: #222222;
}

.cin_tabs li.cur, .cin_tabs li:hover {
	background-position: 0 -590px;
	color: #09a2dc;
}

.cin_com {
	width: 940px;
}

.cin_com_t, .cin_com_b {
	background: url(../images/cr_img.png) no-repeat 0 0;
	height: 6px;
	line-height: 6px;
	overflow: hidden;
}

.cin_com_b {
	background-position: 0 -6px;
}

.cin_comp {
	padding: 10px;
	border-left: 1px #c3c3c3 solid;
	border-right: 1px #c3c3c3 solid;
}

.cin_area {
	border-bottom: 1px #ccc dashed;
	margin-bottom: 15px;
	padding: 0 30px 1px;
}

.cin_area ul {
	
}

.cin_area li {
	float: left;
	padding: 0 10px 10px;
	width: 146px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}

.cin_area li a {
	display: inline-block;
	height: 26px;
	padding: 0 15px;
}

.cin_area li a.cur, .cin_area li a.cur:hover {
	background-color: #09a2dc;
	color: #fff;
}

.cin_spc {
	padding: 0 30px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	margin-bottom: 25px;
}

.cin_spc a {
	display: inline-block;
	background: url(../images/small_ico.png) no-repeat;
	height: 22px;
	line-height: 22px;
	margin-right: 20px;
}

.cin_spc a.imax {
	background-position: 0 0;
	padding-left: 54px;
}

.cin_spc a.p {
	background-position: 0 -31px;
	padding-left: 26px;
}

.cin_sel {
	padding: 0 30px;
}

.cin_sel strong {
	height: 24px;
	line-height: 24px;
}

.cin_sel .s {
	position: relative;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	border: 1px #c3c3c3 solid;
	padding: 0 30px 0 10px;
	margin-right: 20px;
}

.cin_sel .s em {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/small_ico.png) no-repeat 100% -63px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.cin_sel .c {
	position: relative;
	display: inline-block;
	border: 1px #c3c3c3 solid;
	padding: 0 30px 0 10px;
	height: 22px;
	line-height: 22px;
	margin-right: 20px;
	width: 120px;
}

.cin_sel .c .c_j {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/small_ico.png) no-repeat 100% -93px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.cin_sel .c_jlist {
	position: absolute;
	left: -1px;
	top: 22px;
	background: #fff;
	border: 1px #c3c3c3 solid;
	width: 138px;
	padding: 5px;
}

.area_s {
	padding: 10px 20px;
}

.hx_txt {
	color: #444444;
	cursor: pointer;
}

.hx_txt h2 {
	height: 40px;
	line-height: 40px;
	background: url(../images/small_ico.png) no-repeat 0 -175px;
	padding: 0 0 0 48px;
}

.hx_txt h2.cur {
	background-position: 0 -125px;
}

.area_dl {
	padding: 20px 0 12px;
	border-bottom: 1px #ccc dashed;
}

.area_dl.last {
	border-bottom: none;
}

.area_dl dt {
	float: left;
	width: 280px;
	padding-top: 5px;
}

.area_dl dt img, .area_dl dt a {
	display: block;
	width: 263px;
	height: 168px;
}

.area_dl dt a {
	border: 1px #686868 solid;
}

.area_dl dd {
	float: right;
	width: 616px;
	color: #858585;
	font: 12px/1.5 "\5b8b\4f53";
}

.area_dl dd h3.txt {
	font-size: 14px;
	height: 22px;
	margin-bottom: 10px;
	font: bold 14px/22px "\5b8b\4f53";
}

.area_dl dd p {
	margin-bottom: 5px;
}

.area_dl dd p .map {
	margin-left: 10px;
}

.area_dl dd .c {
	background: url(../images/heng_line.png) no-repeat 50% 0;
	width: 616px;
	padding-top: 5px;
	overflow: hidden;
}

.area_dl dd h4 {
	color: #444;
	margin-bottom: 0;
}

.area_dl dd .list {
	width: 630px;
}

.area_dl dd .list li {
	float: left;
	display: inline;
	width: 198px;
	line-height: 24px;
	margin-right: 10px;
}

.area_dl dd .list li .blue {
	margin-left: 4px;
}

.area_dl dd .list li .link_t {
	float: left;
	display: inline-block;
	width: 130px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.area_dl dd .total {
	text-align: right;
	margin: 10px 0 0;
}

.fw_list {
	position: relative;
	background: url(../images/b_shadow.png) repeat-x 0 0;
	border-top: 1px #ccc dashed;
	padding: 20px 35px 10px;
}

.fw_list .d {
	margin-bottom: 12px;
}

.fw_list .d .pic {
	float: left;
	width: 154px;
}

.fw_list .d .pic a, .fw_list .d .pic img {
	display: block;
	width: 127px;
}

.fw_list .d .cont {
	float: left;
	width: 700px;
}

.fw_list .d .txt {
	margin-bottom: 6px;
}

.fw_list .d .txt h3 {
	float: left;
}

.fw_list .d .txt .s {
	float: left;
	position: relative;
	width: 100px;
	margin: 8px 0 0 25px;
}

.fw_list .d .txt .s .score {
	position: absolute;
	right: 0;
	top: 0;
	font: bold 14px/16px "\5b8b\4f53";
}

.fw_list .d .txt .blue {
	display: inline-block;
	margin: 5px 0 0 25px;
	font: 14px/22px "\5b8b\4f53";
}

.fw_list .d .cont p {
	height: 24px;
	line-height: 24px;
}

.fw_show {
	margin-bottom: 12px;
}

.fw_show a {
	display: inline-block;
	background: url(../images/img1.png) no-repeat -82px -676px;
	width: 72px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-right: 1px;
	white-space: nowrap;
}

.fw_show a.cur {
	background-position: 0 -676px;
	font-weight: bold;
	color: #007bc2;
}

.m_ci {
	margin-bottom: 25px;
}

.mdcont {
	width: 872px;
	overflow: hidden;
}

.mdcont_l {
	width: 900px;
}

.md_times {
	float: left;
	width: 282px;
	height: 44px;
	border: 1px #d4d4d4 solid;
	background: #f4f4f4;
	color: #000;
	margin: 0 10px 12px 0;
	cursor: pointer;
}

.md_mtime, .md_mt {
	float: left;
	width: 45px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #000;
	font-size: 12px;
}

.md_com {
	float: left;
	width: 64px;
	line-height: 22px;
	text-align: center;
	background: url(../images/g_line.png) no-repeat no-repeat 0 50%;
	font-size: 12px;
}

.md_mt {
	background: url(../images/g_line.png) no-repeat no-repeat 0 50%;
}

.md_com span {
	display: block;
}

.md_com span.price {
	
}

.md_com span.price_1 {
	
}

.m_ci_picshow {
	width: 276px;
}

.m_ci_bigimg {
	width: 263px;
	height: 168px;
	border: 1px #686868 solid;
	overflow: hidden;
}

.m_ci_tumb_img {
	background: #cccccc;
	width: 259px;
	height: 45px;
	padding: 20px 3px;
	overflow: hidden;
}

.m_ci_t_pre {
	float: left;
	background-position: -45px -331px;
	width: 13px;
	height: 15px;
	display: inline;
	margin: 17px 8px 0 0;
	cursor: pointer;
}

.m_ci_t_next {
	float: right;
	background-position: -68px -331px;
	width: 13px;
	height: 15px;
	display: inline;
	margin: 17px 0 0 0;
	cursor: pointer;
}

.m_ci_t_cont {
	float: left;
	position: relative;
	width: 222px;
	height: 45px;
	overflow: hidden;
}

.m_ci_t_cont ul {
	width: 9999px;
}

.m_ci_t_cont li {
	float: left;
	display: inline;
	width: 74px;
	height: 45px;
	overflow: hidden;
}

.m_ci_t_cont li img {
	border: 1px #8f8d8d solid;
	cursor: pointer;
	width: 68px;
	height: 43px;
}

.m_ci_t_cont li img.cur {
	border: 1px #5cb7e3 solid;
}

.m_ci_cont {
	width: 665px;
}

.m_ci_cont h2 .s {
	margin-left: 10px;
	color: #ff3600;
}

.m_ci_addr {
	height: 146px;
	overflow: hidden;
	margin-bottom: 6px;
}

.m_ci_addr li {
	font-size: 12px;
	line-height: 24px;
	color: #858585;
}

.m_ci_addr .map {
	margin-left: 6px;
	color: #09a2dc;
	font-family: "\5b8b\4f53";
}

.m_ci_ad {
	width: 665px;
	height: 73px;
	overflow: hidden;
}

.m_ci_ad a, .m_ci_ad img {
	display: block;
}

.m_ci_ad img {
	border: 1px #a2a2a2 solid;
}

.baidu_map {
	width: 234px;
}

.bd_pic {
	border: 1px #d3d3d3 solid;
	width: 231px;
	height: 178px;
	margin-bottom: 8px;
}

.bd_ser {
	position: relative;
	padding: 0 0 0 4px;
}

.bd_ser .d {
	margin-bottom: 7px;
}

.bd_ser dt {
	float: left;
	background: url(../images/img.png) no-repeat -151px -590px;
	width: 27px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	display: inline;
	margin-right: 5px;
}

.bd_ser dt.t2 {
	background-position: -151px -633px;
}

.bd_ser input {
	float: left;
	border: 1px #e7e7e7 solid;
	width: 120px;
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
}

.bd_ser .s_btn {
	position: absolute;
	right: 8px;
	top: 4px;
	background-color: #47b7ff;
	width: 48px;
	height: 50px;
	border: 1px #0099ff solid;
	font: 18px/50px "Microsoft YaHei";
	color: #fff;
	text-align: center;
	border-radius: 3px;
}

.cin_f {
	margin-bottom: 0;
	border: none;
	height: 72px;
	overflow: hidden;
}

.cin_s_btn {
	width: 106px;
	height: 30px;
	border: 1px #d8d8d8 solid;
	border-top: none;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
}

.cin_s_btn a {
	display: inline-block;
	background: url(../images/ms_ico.png) no-repeat 0 50%;
	padding: 0 0 0 21px;
	margin-top: 7px;
	color: #9f9f9f;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
}
/*.cin_s_btn a.cur{-webkit-transform:rotate(180deg);transform:rotate(180deg);}*/
.cin_s_btn a.cur {
	background: url(../images/ms_ico_up.png) no-repeat 0 50%;
}

.go_box {
	
}

.go_txt {
	border-bottom: 1px #cccccc solid;
	height: 36px;
	padding: 10px 14px 0;
}

.go_txt h2 {
	float: left;
	width: 125px;
}

.go_tabs {
	float: left;
	position: relative;
	top: 1px;
}

.go_tabs li {
	float: left;
	background-position: 0 -55px;
	width: 130px;
	padding: 12px 0 0 0;
	height: 24px;
	text-align: center;
	font: 16px/24px "Microsoft YaHei";
}

.go_tabs li.cur {
	background-position: 0 -101px;
}

.go_tabs li a {
	display: block;
	width: 130px;
}

.go_tabs li.cur a {
	color: #ff6600;
}

.go_cont {
	padding: 30px 0;
	height: 180px;
	overflow: hidden;
}

.h_n_col {
	position: relative;
	height: 180px;
	padding: 0 44px;
}

.go_slide_cont {
	position: relative;
	width: 912px;
	height: 180px;
	overflow: hidden;
}

.go_slide_cont .JQ-slide-content {
	position: absolute;
}

.go_slide_cont .JQ-slide-content li {
	float: left;
	width: 304px;
}

.h_n_col .JQ-slide-nav a {
	display: block;
	z-index: 10;
	width: 24px;
	height: 25px;
	overflow: hidden;
	text-indent: -999em;
	position: absolute;
	top: 50%;
	margin-top: -12px;
}

.h_n_col .JQ-slide-nav a.prev {
	left: 10px;
	background-position: 0 -147px;
}

.h_n_col .JQ-slide-nav a.next {
	right: 10px;
	background-position: -45px -147px;
}

.gd_txt {
	position: relative;
	height: 36px;
	padding: 10px 14px 0;
}

.gd_txt .more {
	position: absolute;
	left: 145px;
	top: 16px;
	font-family: "\5b8b\4f53";
}

.gd_cont {
	padding: 16px 0;
	height: 234px;
	overflow: hidden;
}

.gd_col {
	position: relative;
	height: 234px;
	padding: 0 64px 0 84px;
}

.gd_slide_cont {
	position: relative;
	width: 850px;
	height: 234px;
	overflow: hidden;
}

.gd_slide_cont .JQ-slide-content {
	position: absolute;
}

.gd_slide_cont .JQ-slide-content li {
	float: left;
	width: 170px;
	margin: 0;
}

.gd_slide_cont .pic_lsit li .con {
	width: 144px;
}

.gd_col .JQ-slide-nav a {
	display: block;
	z-index: 10;
	width: 24px;
	height: 25px;
	overflow: hidden;
	text-indent: -999em;
	position: absolute;
	top: 85px;
}

.gd_col .JQ-slide-nav a.prev {
	left: 10px;
	background-position: 0 -147px;
}

.gd_col .JQ-slide-nav a.next {
	right: 10px;
	background-position: -45px -147px;
}

.hot_film {
	padding: 12px;
}

.hot_film .h_txt {
	margin-bottom: 12px;
}

.tx_film {
	width: 352px;
	padding-left: 4px;
}

.tx_film .p {
	display: block;
	width: 352px;
	height: 216px;
}

.tx_film img {
	display: block;
}

.hot_film .ct {
	width: 600px;
}

.hot_film .ct .c {
	position: relative;
	width: 340px;
	height: 28px;
	padding: 0 35px 0 0;
}

.hot_film .ct .c h3 {
	float: left;
	color: #4b4b4b;
	height: 28px;
	line-height: 34px;
	margin-right: 20px;
}

.hot_film .ct .s {
	float: left;
	position: relative;
	padding-top: 10px;
	width: 100px;
}

.hot_film .ct .s .score {
	position: absolute;
	right: 0;
	top: 8px;
	color: #4e4e4e;
	font-weight: bold;
}

.hot_film .ct .u li {
	line-height: 24px;
}

.hot_film .ct .hu {
	padding: 5px 0 0;
}

.hot_film .ct .hu li {
	line-height: 24px;
}

.hot_film .ct .hu li.pf {
	
}

.hot_film .ct .hu li.pf .s {
	padding: 3px 0 0 5px;
}

.hot_film .ct .hu li.pf .s .score {
	top: 0px;
}

.hot_film .ct .hu li.share a {
	float: left;
	display: inline;
	background: url(../images/fx_ico.png) no-repeat;
	width: 16px;
	height: 16px;
	margin: 3px 0 0 5px;
}

.hot_film .ct .hu li.share a.fx_1 {
	background-position: 0 0;
}

.hot_film .ct .hu li.share a.fx_2 {
	background-position: -22px 0;
}

.hot_film .ct .hu li.share a.fx_3 {
	background-position: -44px 0;
}

.hot_film .ct .hu li.share a.fx_4 {
	background-position: -66px 0;
}

.hot_film .ct .hu li.share a.fx_5 {
	background-position: -88px 0;
}

.hot_film .ct .look {
	
}

.hot_film .ct .look a.ws {
	float: left;
	display: inline;
	background: url(../images/img.png) no-repeat -68px -676px;
	width: 58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-right: 14px;
}

.hot_film .ct .look span {
	font-size: 12px;
	line-height: 26px;
}

.hot_film .ct .look em {
	font-weight: normal;
	margin: 0 4px;
}

.hot_film .ct .look a.tlook {
	float: left;
	display: inline;
	background: url(../images/f_ico.png) no-repeat 0 0;
	width: 113px;
	height: 26px;
	line-height: 26px;
	margin-right: 14px;
}

.hot_film .ct .look a.tlook:hover {
	background-position: 0 -29px;
}

.hot_film .ct .look a.unlook {
	background-position: 0 -58px;
}

.hot_film .ct .look a.unlook:hover {
	background-position: 0 -87px;
}

.hot_film .ct .look a.tlook span {
	display: inline-block;
	padding-left: 30px;
	width: 38px;
}

.hot_film .ct .look a.tlook em {
	display: inline-block;
	text-align: center;
	width: 42px;
	margin: 0 0;
}

.hot_cine {
	
}

.hot_cine .txt {
	position: relative;
	border-bottom: 1px #cccccc dashed;
	height: 34px;
	line-height: 34px;
}

.hot_cine .txt h3 {
	height: 34px;
	line-height: 34px;
}

.hot_cine .txt .a {
	position: absolute;
	height: 16px;
	line-height: 16px;
	right: 0;
	top: 9px;
	color: #ff6600;
}

.hot_cine .txt .a a, .hot_cine .txt .a a:hover {
	color: #ff6600;
}

.hot_cine .c_list {
	padding: 0;
}

.hot_cine .c_list li {
	float: left;
	position: relative;
	width: 300px;
	font-size: 12px;
	line-height: 22px;
	margin-top: 8px;
}

.hot_cine .c_list li .ut {
	
}

.hot_cine .c_list li .ut span, .hot_cine .c_list li .ut strong {
	float: left;
	display: inline;
	height: 22px;
	margin-left: 3px;
}

.hot_cine .c_list li .ut span.t {
	width: 130px;
	height: 22px;
	margin: 0;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.hot_cine .c_list li .ut span.sr {
	width: 38px;
}

.hot_cine .c_list li .ut span.n {
	width: 68px;
}

.sel_cx {
	position: absolute;
	left: 0;
	top: 32px;
	z-index: 30;
}

.sel_cx .jiao {
	position: absolute;
	left: 35px;
	top: -12px;
	background: url(../images/img.png) no-repeat -97px -331px;
	width: 24px;
	height: 13px;
}

.sel_cx .cont {
	width: 570px;
	padding: 14px;
	background: #dedede;
	border: 1px #929292 solid;
}

.sel_txt {
	position: relative;
	height: 38px;
	overflow: hidden;
}

.sel_txt h3 {
	float: left;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
}

.sel_txt .fw_show {
	position: absolute;
	right: 0;
	top: 0;
	margin-bottom: 0;
}

.fw_tcont {
	width: 570px;
	overflow: hidden;
}

.fw_incont {
	width: 590px;
}

.fw_incont .md_times {
	margin: 0 8px 5px 0;
	border: none;
}

.md_add {
	text-align: right;
	font-family: "\5b8b\4f53";
}

.hx_col {
	position: relative;
	_height: 508px;
}

.hx_col .hx_pre, .hx_col .hx_next {
	position: absolute;
	display: block;
	z-index: 10;
	width: 24px;
	height: 25px;
	overflow: hidden;
	text-indent: -999em;
	top: 50%;
	margin-top: -13px;
	background: url(../images/img.png) no-repeat 0 0;
}

.hx_col .hx_pre {
	left: 10px;
	background-position: 0 -147px;
}

.hx_col .hx_next {
	right: 10px;
	background-position: -45px -147px;
}

.hx_col .hx_next {
	position: absolute;
}

.hx_cont {
	padding: 0 65px;
}

.hx_cont .pic_lsit li {
	margin: 0 12px 25px;
}

.cin_sort {
	padding: 0 0 20px 30px;
}

.hot_z {
	float: right;
	width: 244px;
	padding: 8px;
}

.hot_z h2 {
	padding-left: 15px;
}

.hot_z_list .pic_lsit li {
	width: 140px;
	margin: 0;
	padding: 23px 50px;
	border-bottom: 1px #cccccc dashed;
}

.hot_z_list .pic_lsit li.last {
	border-bottom: none;
}

.hot_cont {
	float: left;
	width: 728px;
}

.h_s_sel {
	position: relative;
	border-bottom: 1px #cccccc solid;
}

.h_s_sel li {
	float: left;
	position: relative;
	width: 242px;
	height: 44px;
	font: 24px/44px "Microsoft YaHei";
	text-align: center;
	text-align: center;
	color: #444;
}

.h_s_sel li a {
	position: relative;
	display: block;
	color: #444;
}

.h_s_sel li a.cur {
	background: #fff url(../images/h_s_sel.png) repeat-x 0 0;
	height: 47px;
	border: 1px #ccc solid;
	border-bottom: none;
	left: -1px;
	top: -3px;
	_border: none;
	_top: 0;
}

.h_s_sel li a.w.cur {
	left: 1px;
}

.h_s_cin {
	padding: 12px 12px 21px 12px;
	border-bottom: 1px #ccc solid;
}

.h_s_cin .cin_select {
	width: 704px;
}

.h_s_cin .cin_com {
	width: 704px;
}

.h_s_cin .cin_com_t, .h_s_cin .cin_com_b {
	background: url(../images/cr_simg.png) no-repeat 0 0;
	height: 6px;
	line-height: 6px;
	overflow: hidden;
}

.h_s_cin .cin_com_b {
	background-position: 0 -6px;
}

.h_s_cin .cin_area {
	padding: 0 0 1px;
}

.h_s_cin .cin_area li {
	padding: 0 0 10px;
	width: 136px;
}

.h_s_cin .cin_f li {
	width: 170px;
}

.hx_cin .hs_com {
	border-bottom: 1px #ccc dashed;
}

.hx_cin .hs_com.last {
	border-bottom: none;
}

.hs_mtxt {
	position: relative;
	margin: 10px 0 10px;
}

.hs_mtxt h3 {
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	width: 186px;
	max-width: 186px;
	overflow: hidden;
}

.hs_mtxt p {
	float: left;
	width: 378px;
	font-size: 12px;
	line-height: 20px;
	font-family: "\5b8b\4f53";
}

.hs_mtxt p a {
	margin-left: 10px;
}

.hs_mtxt .tel {
	position: absolute;
	right: 0;
	top: 1px;
	color: #858585;
	font-size: 12px;
}

.hx_cin .mdcont {
	width: 688px;
}

.hx_cin .mdcont_l {
	width: 720px;
}

.hx_cin .md_times {
	width: 332px;
	margin-right: 15px;
}

.hx_cin .md_mtime, .hx_cin .md_mt {
	width: 58px;
}

.hx_cin .md_com {
	width: 72px;
}

.xq_com {
	padding: 10px 15px;
	color: #383838;
}

.u_jq {
	margin-bottom: 20px;
}

.u_jq_cont {
	line-height: 24px;
	text-indent: 2em;
}

.u_jz {
	margin-bottom: 20px;
}

.u_jz_col {
	position: relative;
	border: 1px #cccccc solid;
	height: 106px;
	padding: 10px 24px;
}

.u_jz_cont {
	position: relative;
	width: 646px;
	height: 106px;
	overflow: hidden;
}

.u_jz_cont .JQ-slide-content {
	position: absolute;
}

.u_jz_cont .JQ-slide-content li {
	float: left;
	width: 164px;
}

.u_jz_col .JQ-slide-nav a {
	display: block;
	z-index: 10;
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: -999em;
	position: absolute;
	top: 50%;
	margin-top: -12px;
}

.u_jz_col .JQ-slide-nav a.prev {
	left: -12px;
	background-position: 0 -711px;
}

.u_jz_col .JQ-slide-nav a.next {
	right: -12px;
	background-position: -33px -711px;
}

.u_pl {
	
}

.u_pl_cont p {
	text-indent: 2em;
	margin-bottom: 20px;
	line-height: 24px;
}

.n_d {
	background: url(../images/d_img.png) no-repeat 0 0;
	width: 250px;
	padding: 0 0 0 142px;
	height: 154px;
	font: 24px/154px "Microsoft YaHei";
	margin: 0 auto;
}

/* 12-24 */
.ord_boy {
	background: url(../images/boy_img.jpg) no-repeat 20px 0;
	width: 405px;
	padding-left: 427px;
	height: 410px;
}

.ord_tuijian {
	padding-top: 35px;
}

.ord_tuijian h2 {
	text-align: center;
	color: #838383;
}

.ord_tuijian p {
	text-align: center;
	color: #838383;
}

.kf_dw {
	padding: 20px 15px 0;
	height: 110px;
}

.kf_dw .ip_btn {
	float: left;
	display: inline;
	background: url(../images/khd_btn.png) no-repeat;
	width: 161px;
	height: 62px;
	margin: 0 10px;
}

.kf_dw .an_btn_reset {
	float: right;
	display: inline;
	background: url(../images/khd_btn.png) no-repeat -181px 0;
	width: 161px;
	height: 44px;
	padding: 9px 0;
	margin: 0 10px;
}

.kf_dw .ip_btn a {
	margin-left: 66px;
	font: 14px/62px "瀵邦喛钂嬮梿鍛寸拨";
	color: #838383;
}

.kf_dw .an_btn_reset a {
	margin-left: 66px;
	font: 14px/22px "瀵邦喛钂嬮梿鍛寸拨";
	color: #838383;
}

.cmt_comment {
	padding: 24px;
}

.cmt_h3 {
	font-size: 14px;
	background: url(../images/memberIcon3.jpg) no-repeat 0 50%;
	padding-left: 12px;
	color: #383838;
	margin-bottom: 4px;
}

.cmt_tar {
	margin-bottom: 6px;
}

.cmt_textarea {
	border: 1px #abadb3 solid;
	padding: 5px;
	width: 668px;
	height: 60px;
}

.cmt_stxt {
	color: #383838;
	height: 32px;
}

.cmt_stxt .t {
	float: left;
	font-size: 14px;
	line-height: 32px;
}

.cmt_stxt .red {
	color: #d51e00;
	margin: 0 8px;
}

.hitscore {
	float: left;
	display: inline;
	margin: 9px 0 0 10px;
	background: url(../images/b_star.png) no-repeat 0 -15px;
	width: 140px;
	height: 13px;
	cursor: pointer;
	overflow: hidden;
}

.scorew {
	display: block;
	background: url(../images/b_star.png) no-repeat 0 0;
	height: 13px;
	overflow: hidden;
}

.cmt_fbtn {
	float: right;
	line-height: 32px;
	width: 240px;
}

.cmt_fbtn .btn {
	float: right;
	background-color: #47b7ff;
	border: 1px #0099ff solid;
	width: 104px;
	height: 30px;
	text-align: center;
	font: 18px/30px "瀵邦喛钂嬮梿鍛寸拨";
	color: #fff;
}

.cmt_fbtn .counts {
	margin-right: 15px;
	float: left;
}

.cmt_fbtn .counts em {
	margin: 0 5px;
}

.cmt_wrapper {
	padding: 0 24px 24px;
}

.cmt_ftxt {
	position: relative;
	height: 34px;
	border-bottom: 1px #c3c3c3 solid;
}

.cmt_ftxt .cmt_h3 {
	margin-bottom: 0;
	line-height: 34px;
}

.cmt_ftxt .cmt_sel {
	float: right;
	width: 159px;
}

.cmt_ftxt .cmt_sel li {
	float: left;
	position: relative;
	background: url(../images/m_cmt_tab.png) no-repeat -77px 0;
	width: 75px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-left: 3px;
	color: #282828;
}

.cmt_ftxt .cmt_sel li.cur {
	background-position: 0 0;
	color: #09a2dc;
}

.cmt_acont {
	position: relative;
	padding: 14px 0 5px 0;
	border-bottom: 1px #c3c3c3 dashed;
}

.ico_face {
	float: left;
	width: 52px;
	height: 52px;
}

.ico_face img {
	display: block;
	width: 52px;
	height: 52px;
}

.cmt_cont {
	float: right;
	position: relative;
	width: 616px;
}

.cmt_hd {
	position: relative;
	margin-bottom: 4px;
}

.cmt_hd .t {
	font-weight: bold;
	color: #383838;
	font-size: 14px;
}

.cmt_bd {
	font-size: 12px;
	color: #383838;
	min-height: 32px;
	margin-bottom: 4px;
}

.cmt_fd {
	position: relative;
	color: #a7a7a7;
	height: 16px;
	font-size: 12px;
}

.art_score {
	width: 220px;
}

.art_score .hitscore {
	margin: 2px 0 0 2px;
}

.art_times {
	width: 150px;
}

.art_stu {
	width: 208px;
	color: #383838;
	font-size: 12px;
}

.art_stu span {
	padding-left: 16px;
	margin: 0 4px;
	cursor: pointer;
}

.cmt_agree {
	background: url(../images/ele_14.png) no-repeat 0 50%;
}

.cmt_disagree {
	background: url(../images/ele_16.png) no-repeat 0 50%;
}

.cmt_feedback {
	background: url(../images/ele_18.png) no-repeat 0 50%;
}

.i_so_x {
	background: url(../images/is_x.png) no-repeat;
	width: 160px;
}

.i_so_x .search-keyword {
	width: 128px;
}

.cin_tabs_x li {
	background: url(../images/cin_tabs_x.png) no-repeat 0 -43px;
	width: 121px;
}

.cin_tabs_x li.cur, .cin_tabs_x li:hover {
	background: url(../images/cin_tabs_x.png) no-repeat 0 0;
}

.cin_tabs li.pq {
	position: relative;
}

.cin_tabs li .u_more {
	display: inline-block;
	padding: 0 15px;
	background: url(../images/g_icon.png) no-repeat 100% 50%;
}

.cin_tabs li .u_more_list {
	position: absolute;
	left: 0;
	top: 36px;
	display: none;
	background-color: #fff;
	width: 138px;
	border: 1px #c3c3c3 solid;
	border-top: none;
}

.cin_tabs_x li .u_more_list {
	width: 118px;
}

.cin_tabs li .u_more_list p {
	height: 32px;
	line-height: 32px;
}

.cin_tabs li .u_more_list p:hover {
	color: #09A2DC;
}

.d_clock {
	height: 70px;
}

.clock_control {
	background: url(../images/clock_bg.png) no-repeat;
	width: 233px;
	height: 46px;
	padding: 12px;
	margin: 0 auto;
}

.clock_ico {
	float: left;
	display: block;
	padding: 2px 24px 0 0;
	background: url(../images/clock_ico.png) no-repeat 24px 2px;
	width: 36px;
	height: 44px;
}

.clock_times {
	float: left;
	width: 140px;
	padding: 0 5px 0 15px;
	font: 42px/46px Verdana, Geneva, sans-serif;
	color: #ff5400;
}

.lg_cin_com {
	width: 405px;
}

.lg_cin_com .cin_com_t {
	background: url(../images/lg_cr_img.png) no-repeat 0 0;
}

.lg_cin_com .cin_com_b {
	background: url(../images/lg_cr_img.png) no-repeat 0 100%;
}

.lg_cin_com .cin_s {
	border-left: 1px #c3c3c3 solid;
	border-right: 1px #c3c3c3 solid;
	padding: 0 20px 20px 25px;
}

.yx_cin_txt {
	position: relative;
	width: 891px;
	background: url(../images/x_img.png) no-repeat;
	height: 49px;
	margin-bottom: 15px;
}

.yx_cin_txt .t {
	float: left;
	height: 48px;
	line-height: 48px;
	padding: 0 25px;
}

.yx_cin_txt .s {
	position: absolute;
	top: 12px;
	right: 10px;
	height: 26px;
}

.yx_cin_txt .s a {
	float: left;
	background: url(../images/img.png) no-repeat -68px -676px;
	display: inline;
	height: 26px;
	line-height: 26px;
	margin-left: 15px;
	text-align: center;
	width: 58px;
}

.yx_arcont {
	padding-left: 15px;
}

.yx_arcont .fw_show {
	margin-left: 10px;
}

.yx_arcont .mdcont {
	margin-left: 10px;
}

.cin_cgd .gd_cont {
	height: 210px;
	padding-bottom: 0;
}

.cin_cgd .gd_col {
	height: 210px;
	padding: 0 34px 0 34px;
}

.cin_cgd .gd_slide_cont {
	height: 210px;
}

.cin_cgd .gd_col .JQ-slide-nav a.prev {
	left: 0;
}

.cin_cgd .gd_col .JQ-slide-nav a.next {
	right: 10px;
}

.cin_cgd .gd_slide_cont .JQ-slide-content li.cur {
	height: 210px;
	background: url(../images/gd_list_cur.png) no-repeat 50% 100%;
}
/* 01-21 */
.mdcont_x .md_times {
	width: auto;
}

.mdcont_x .md_times .md_com_3 {
	width: 74px;
}

.mdcont_z .md_times {
	width: auto;
}

.mdcont_z .md_times .md_com_3 {
	width: 98px;
}

.fw_show {
	position: relative;
	height: 26px;
}

.fw_show .orange, .fw_show .blue {
	position: absolute;
	right: 5px;
	top: 4px;
}

/* 2014-2-02-14 */
.ord_boy {
	width: 455px;
}

.kf_dw .an_btn {
	float: right;
	display: inline;
	background: url(../images/khd_btn_1.png) no-repeat 0 0;
	width: 210px;
	height: 62px;
	padding: 0 0;
	margin: 0 10px;
}

.kf_dw .an_btn a {
	margin: 0 4px 0 66px;
	font: 14px/62px "瀵邦喛钂嬮梿鍛寸拨";
	color: #838383;
}

.kf_dw .an_btn a.w {
	margin-left: 4px;
}

/* 2014-03-03 */
.tu_tabs {
	background: url(../images/gary_line.png) repeat-x 0 100%;
	margin-bottom: 15px;
}

.tu_com {
	padding: 10px 10px 0;
}

.tu_com .tu_cbox {
	position: relative;
	padding-left: 70px;
	margin-bottom: 10px;
}

.tu_com .tu_cbox .t {
	position: absolute;
	left: 0;
	top: 0;
	color: #000;
	_left: -70px
}

.tu_com .tu_cbox a {
	display: inline-block;
	margin: 0 15px 10px 0;
	color: #000;
	padding: 0 8px;
}

.tu_com .tu_cbox a:hover, .tu_com .tu_cbox a.cur {
	background-color: #09A2DC;
	padding: 0 8px;
	color: #fff;
}

.tuan_com {
	
}

.tuan_com .pic {
	float: left;
	width: 428px;
}

.tuan_com .pic a, .tuan_com .pic img {
	display: block;
}

.tuan_com .pic img {
	border: 1px #c5c5c5 solid;
}

.tuan_com .cont {
	float: left;
	width: 510px;
}

.tuan_com .cont .t {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #383838
}

.tuan_com .cont .t .orange {
	margin-left: 10px;
}

.tuan_com .cont .i h4 {
	font-size: 14px;
	color: #383838;
}

.tuan_com .cont .i p {
	font-size: 12px;
	line-height: 24px;
	color: #7a7a7a;
}

.tuan_com .cont .qfrom {
	padding: 5px;
}

.tuan_com .cont .qfrom li {
	margin-bottom: 10px;
	color: #383838;
}

.tuan_com .cont .qfrom .mon {
	margin-left: 10px;
}

.tuan_com .cont .qfrom .mon em {
	margin-right: 5px;
}

.tuan_com .cont .qfrom .btns {
	padding: 20px 0 0 60px;
}

.tuan_com .cont .qfrom .btns a {
	display: inline-block;
	background: #47b7ff;
	border: 1px #0099ff solid;
	font: 16px/32px "Microsoft YaHei";
	color: #fff;
	text-align: center;
	width: 110px;
	height: 32px;
}

h2.tuan_t {
	font-size: 20px;
}

.tuan_get {
	width: 200px;
	margin: 0 auto 15px;
}

.tuan_get li {
	line-height: 26px;
	height: 26px;
}

.tuan_zf h4 {
	font-weight: normal;
	margin-bottom: 15px;
}

.tuan_zf p a {
	display: inline-block;
	height: 48px;
	overflow: hidden;
	margin: 0 15px;
}

.tuan_tips {
	font-size: 12px;
}

.hs_tuan {
	padding: 15px 25px;
	border-bottom: 1px #ccc solid;
}

.hs_tuan .cin_f li {
	width: 176px;
}

.hs_tuan h2 {
	margin-bottom: 15px;
	background: url(../images/tuan_txt.png) no-repeat 0 50%;
	padding: 0 0 0 30px;
}

.tuan_mtxt p {
	width: 750px;
}

.tuan_mtxt .te {
	margin-left: 10px;
}

.tu_mdcont {
	width: 960px;
}

.hx_cin .tu_mdcont .mdcont_l {
	width: 960px;
}

.hx_cin .tu_mdcont .md_times {
	display: inline;
	margin: 0 20px 12px 20px;
}

.hx_cin .tu_mdcont .md_mtime, .hx_cin .tu_mdcont .md_mt {
	width: 68px;
}

.clear {
	clear: both;
	height: 0px;
	font-size: 0px
}

.film-img {
	width: 352px
}

.hot-line {
	width: 100%
}

.hot-cont {
	padding: 0 18px
}

.hot-cont .pic_lsit li {
	margin: 0 21px 25px
}

.hot-sort {
	padding-bottom: 20px;
	padding-top: 15px
}

.hot-sort ul {
	padding-left: 5px
}

.top-film {
	padding: 14px
}

.film-tab {
	width: 100%;
	border-bottom: 2px solid #33b1ee;
	margin-top: 20px
}

.film-tab ul {
	
}

.film-tab ul li {
	float: left;
	width: 120px;
	height: 36px;
}

.film-tab ul li a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
}

.film-tab ul li a.cur {
	background: #33b1ee;
	color: white
}

.h-n-col {
	padding: 0px 25px;
}

.h-n-col ul li {
	float: left;
	margin-bottom: 25px
}

.h-n-col ul li .hm_box {
	width: 307px;
}

.flim-s-list li {
	margin: 0 20px 25px;
}

.total-film {
	color: #f88630;
	line-height: 40px;
}

/*2014.2.21 start*/
.bigImg {
	width: 510px;
	height: 340px;
	margin: 0px auto;
	margin-top: 15px;
}

.film-Img {
	display: block;
	width: 150px;
	height: 98px;
	border: 1px solid #FFF;
	padding: 1px;
}

.film-Img img {
	display: block;
}

.curImg {
	border: 1px solid #ff9639;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
/*2014.2.21 end*/

/*2014.2.24 start*/
.myYxtCha:link {
	color: #ff6600;
	border-bottom: 1px solid #ff6600;
}

.myYxtCha:visited {
	color: #ff6600;
	border-bottom: 1px solid #ff6600;
}

.myYxtCha:hover {
	color: #ff6600;
	border-bottom: 1px solid #ff6600;
}

.myYxtCha:active {
	color: #ff6600;
	border-bottom: 1px solid #ff6600;
}

.reset_c_tips {
	position: fixed !important;
	position: absolute;
	width: 600px;
	background: #fff;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -150px;
	border: 1px #cccccc solid;
	z-index: 1000;
}

.tablePw {
	margin-top: 10px;
}

.tablePw table {
	margin: 0px auto;
}

.tablePw td {
	padding: 0px;
	padding: 12px 0px;
}

.tablePw td.left {
	width: 80px;
	text-align: right;
}

.tablePw td.left span {
	line-height: 30px;
}

.tablePw td.right {
	width: 240px;
}

.tablePw td.right input {
	width: 100%;
	height: 28px;
}

.tableList table {
	margin: 0px auto;
}

.tableList td {
	padding: 5px 10px;
}

.curTab {
	color: #29aaec;
	font-weight: bold;
}

.file-box {
	position: relative;
	width: 170px;
	height: 170px;
	overflow: hidden;
}

.btn_file_logore {
	position: absolute;
	top: 0;
	left: 0px;
	display: block;
	width: 170px;
	height: 170px;
}

.file {
	position: absolute;
	cursor: pointer;
	padding: 170px;
	top: 0;
	left: 0px;
	width: 170px;
	height: 170px;
	filter: alpha(opacity : 0);
	opacity: 0;
	font-size: 170px;
}
/*2014.2.24 end*/
.fl {
	float: left;
}

.befSeat {
	line-height: 22px;
	border: 1px solid #b3b3b3;
	padding: 2px 40px;
	color: #fb2701;
}

.seatTitle {
	width: 70px;
}

.seatNum {
	width: 190px;
}

.seatInfo {
	width: 80px;
	height: 24px;
	border: 1px solid #fb2701;
	line-height: 24px;
	text-align: center;
	color: #fb2701;
	margin: 0px 4px 4px 0px;
}

#scroller {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 800px;
	max-width: 2000px;
	padding: 0;
}

.timeList {
	position: absolute;
	top: 154px;
	right: 0px;
	width: 340px;
	background: #fff;
	border: 1px #cccccc solid;
	padding: 5px 0px;
}

.changeSen {
	padding-left: 4px;
}

.timeBar {
	display: block;
	width: 290px;
	height: 44px;
	border-bottom: 1px #d4d4d4 dashed;
	color: #000;
	margin: 0px 0px 12px 0px;
	cursor: pointer;
	margin: 0 auto;
}

.timeBar:link {
	color: #000;
}

.timeBar:visited {
	color: #000;
}

.timeBar:hover {
	color: #000;
	background: #feebd3;
}

.currshow {
	background-color: #eee;
}

.timeBar:active {
	color: #000;
}

.bgNone {
	background: none;
}

.timeTitle {
	width: 290px;
	margin: 0px auto;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
}

/*2014.2.27 start*/
.scroll_wrapper {
	position: relative;
	height: 286px;
	width: 546px;
	overflow: hidden;
	margin: 0 auto;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 286px;
	overflow: auto;
}

#scroller {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 800px;
	max-width: 2000px;
	padding: 0;
}

.reset_ch_seat li {
	width: 100%;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
}

.reset_ch_seat li span {
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	cursor: pointer;
}

.reset_ch_seat li span.a_ico {
	background: url(../images/seatNone.jpg) no-repeat 50% 50%;
}

.reset_ch_seat li span.b_ico {
	background: url(../images/seatBookEnd.jpg) no-repeat 50% 50%;
}

.reset_ch_seat li span.c_ico {
	background: url(../images/seatNot.jpg) no-repeat 50% 50%;
}

.reset_ch_seat li span.d_ico {
	background: url(../images/seatLove.jpg) no-repeat 50% 50%;
}

.top-title {
	position: relative;
}

.search-box {
	position: absolute;
	right: 0;
	top: 5px;
}
/*2014.2.27 end*/

/*2014.3.3 start*/
.cinema-detail {
	width: 422px;
}

.cinemaBlock {
	float: left;
	width: 436px;
	border: 1px #d4d4d4 solid;
	background: #f4f4f4;
	color: #000;
	margin: 0 10px 12px 0;
	cursor: pointer;
	line-height: 44px;
	font-size: 12px;
	text-align: center;
}

.cinemaBlock .col_time {
	float: left;
	width: 40px;
	background: url(../images/g_line.png) no-repeat;
}

.cinemaBlock .none_bg {
	background: none
}

.cinemaBlock .col_num {
	float: left;
	width: 60px;
	background: url(../images/g_line.png) no-repeat;
}

.cinemaBlock .wid_reset {
	width: 92px
}

.cinemaBlock .col_num div {
	line-height: 22px;
}

.a_block {
	display: block;
}

.pic_pos {
	position: relative;
}

.litleImg {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	background: #a1a1a1;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.innerImg {
	position: absolute;
	left: 92px;
	top: 12px;
}

.innerImg img {
	margin-right: 10px;
	cursor: pointer;
	border: 2px solid #a1a1a1;
}

.innerImg .curBorder {
	border: 2px solid #ff9639;
}
/*2014.3.3 end*/

/*2014.3.5 start*/
.mar_center {
	margin: 0 auto;
}

.pad_no {
	padding: 0px;
}

.changeOne {
	line-height: 28px;
	padding-left: 5px;
}

.ip_txt_new {
	width: 280px;
}

.forget_com {
	width: 405px;
	padding-left: 50px;
	background: url(../images/b_line.png) no-repeat 100% 0;
	min-height: 320px;
}

.forget_com h2 {
	text-align: center;
	color: #666666;
	margin-bottom: 24px;
}
/*2014.3.5 end*/
.film-cont .pic_lsit li {
	margin: 0 18px 25px;
}

.new-section .h_txt .m {
	font-size: 14px;
	margin-left: 15px;
}

.tab-pad {
	padding: 0px 20px;
}

.kf_dw .androidLoad {
	float: right;
	display: inline;
	background: url(../images/phAnd.png) no-repeat -259px 0;
	width: 190px;
	height: 44px;
	padding: 9px 0px;
	margin: 0 10px;
}

.kf_dw .androidLoad a {
	font: 14px/44px "瀵邦喛钂嬮梿鍛寸拨";
	color: #838383;
	text-decoration: underline;
}

.pagecontrolre {
	text-align: center;
	margin-top: 10px;
}

.pagecontrolre a {
	padding: 0px 10px;
}

/*2014.3.11 start*/
.top-reply {
	width: 616px;
	height: 18px;
	border-bottom: solid 1px #eaeaea;
	position: relative;
}

.top-reply img {
	position: absolute;
	bottom: -1px;
	right: 34px;
}

.huiFu {
	padding: 10px;
	background: #fafafa;
	border-right: solid 1px #eaeaea;
	border-bottom: solid 1px #eaeaea;
	border-left: solid 1px #eaeaea;
}

.textfield {
	height: 20px;
	width: 82%;
	padding-right: 5px;
	padding-left: 5px;
	border: solid 1px #abadb3;
	float: left;
	margin-top: 2px;
}

.btnReply {
	background-image: url(../images/btn_hf.jpg);
	height: 25px;
	width: 84px;
	border: 0;
	cursor: pointer;
	float: right;
	margin-left: 6px;
}

.hf_list {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: dashed 1px #dcdcdc;
}

.title_w {
	font-size: 14px;
	font-weight: bold;
	color: #750209;
}

.w1 {
	color: #a71b2a;
}

.mar-top {
	margin-top: 5px;
}

.inputStyle {
	height: 20px;
	width: 82%;
	padding-right: 5px;
	padding-left: 5px;
	border: solid 1px #abadb3;
}

.pageshow {
	text-align: center;
	font-size: 12px;
}

.pageshow a {
	padding: 0px 10px;
}

.tx_film  .playOuter {
	position: relative;
	width: 352px;
	height: 216px;
}

.tx_film  .playOuter .playBtn {
	width: 352px;
	height: 216px;
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity = 60);
	opacity: 0.6;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
}

.tx_film  .playOuter .playBtn .btn {
	width: 100%;
	height: 100%;
	background: url('../images/play.png') center center no-repeat;
}

.hs_mtxt .reset-h3 {
	width: 160px;
	padding-right: 10px;
}

.h_s_cin  .reset-cin li {
	width: 227px;
	padding: 0px;
	padding-bottom: 10px;
}

.reset-cin li a {
	padding: 0px 8px;
	overflow: hidden;
}
/*2014.3.11 end*/
.total_height {
	height: 400px;
}

.padB-40 {
	padding-bottom: 52px;
}

.marT-30 {
	margin-top: 30px;
}

.hot_zx .zx .xg li.zx-title {
	height: 30px;
	line-height: 30px;
}

.mx_pcont li .btm-title {
	display: block;
	width: 215px;
}

.cinemaBlock-reset1 {
	width: 264px;
	margin-right: 34px;
}

.cinemaBlock-reset1 .none_bg {
	background: none;
}

.critics-con {
	min-height: 300px;
}

.only_style {
	margin-top: 10px;
}

.only_style li {
	margin-right: 15px;
}

.only_style li img {
	margin-right: 5px;
}

.act_list .ret_activity {
	margin: 0 50px 22px 100px;
}

.cin_f_reset {
	margin-bottom: 0;
	border: none;
	overflow: hidden;
}

.adrPop {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -295px;
	margin-top: -235px;
	background: #FFF;
	z-index: 999;
	display: none;
}

.mapCon {
	width: 540px;
	height: 417px;
}

.noFilm {
	min-height: 150px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 2px;
}

.act_wrapper {
	min-height: 300px;
}

.actNoNum {
	width: 950px;
	line-height: 100px;
	text-align: center;
}

.k_item_one {
	height: 90px;
}

.l_log_wrap .hei-20 {
	height: 24px;
	line-height: 24px;
	padding-left: 110px;
	font-size: 12px;
}

.m_ci_addrres {
	margin-bottom: 6px;
}

.m_ci_addrres li {
	font-size: 12px;
	line-height: 24px;
	color: #858585;
}

.m_ci_addrres .map {
	margin-left: 6px;
	color: #09a2dc;
	font-family: "\5b8b\4f53";
}

.m_ci_addrres .lastBar {
	position: relative;
}

.m_ci_addrres .detailAll {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 999;
	background: #FFF;
}

.m_ci_addrres .seeDetail {
	margin-left: 2px;
}

/*2014.4.10*/
.register-con {
	width: 460px;
	margin: 0px auto;
}

.register-con h2 {
	text-align: center;
	line-height: 40px;
	padding-bottom: 20px;
}

.register-con .k_item_2 {
	height: 48px;
}

.register-con .k_item_2 .ip_txt {
	width: 280px;
}

.register-con .k_item_2 .ip_txt_2 {
	width: 170px;
	margin-right: 5px;
}

.register-con .k_item_3 {
	height: 50px;
	padding-left: 100px;
}

.k_item_3 .rem_rule {
	width: 230px;
}

.reset-li li {
	width: 284px;
	text-align: left;
	padding: 0px 0px 10px;
}

.hx_cin .tu_mdcont .md_times_reset {
	margin: 0 20px 12px 0px;
}

.hx_cin .tu_mdcont .md_times_reset .office-name {
	width: 94px;
	overflow: hidden
}

.detailCon {
	padding: 10px;
	line-height: 28px;
}

.erweiCon {
	width: 230px;
	height: 133px;
	margin: 0 auto;
	position: relative;
}

.erweiCon .downPhone {
	position: absolute;
	left: 0px;
	top: 70px;
}

.erweiCon .downErwei {
	position: absolute;
	left: 103px;
	top: 0px;
	padding: 3px;
	box-shadow: 0 0 6px #c0c0c0;
}

.erweiCon .downErwei  img {
	display: block;
}

.paypop {
	position: fixed !important;
	position: absolute;
	width: 420px;
	height: 200px;
	background: #fff;
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -150px;
	border: 1px #cccccc solid;
	z-index: 1000;
}

.paypop .payremind {
	height: 60px;
	padding: 10px 0px 10px 60px;
	background: url('../images/go.gif') left center no-repeat;
	margin: 10px 0px;
}

.changePwdSuc {
	height: 20px;
	line-height: 20px;
	padding-left: 100px;
	color: #FF0000;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

.com_no {
	border: 0 none;
}

.com_border {
	border: 1px solid #ccc;
	border-top: 0 none;
	border-bottom: 0 none;
}

.graybg {
	background-color: #f3f3f3;
}

.border1 {
	border: 1px solid #ccc;
}

.border2 {
	border-top: 1px solid #ccc;
}

.border3 {
	border: 1px solid #ccc;
	border-top: 0 none;
}

.border4 {
	border: 1px solid #ccc;
	border-bottom: 0 none;
}

.mar_pad {
	margin: 0;
	padding: 40px 0px;
	background: #FFF;
}

.bgColor {
	background: #FFF
}

.emailCon {
	padding: 0px 20px;
}

.emailCon h3 {
	width: 100%;
	border-bottom: 1px dashed #ccc;
	line-height: 40px;
}

.emailCon .tipsCon {
	padding-top: 50px;
	text-align: center;
}

.emailCon .tipsCon .tips1 {
	line-height: 200px;
	font-size: 18px;
}

.no_film_critics {
	width: 100%;
	line-height: 300px;
	text-align: center;
}

.pad-line .getcode1 {
	display: block;
	background-color: #cdcdcd;
	border: 1px #b3b3b3 solid;
	width: 104px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.cin_tabs li .u_more_a {
	padding: 0px 15px 0px 0px;
}

.hx_cin .md_mt_715 {
	overflow: hidden
}

.search_area_723 {
	margin: 5px 0px;
	width: 100%;
	position: relative;
	height: 36px;
}

.search_area_723 .act_ser {
	position: absolute;
	top: 0;
	right: 0;
}

.cin_tabs_723 li {
	background: url(../images/bg1_723.png) no-repeat 0 0px;
	width: 98px;
	height: 44px;
	padding: 0px;
	margin-right: 3px;
	padding-top: 12px;
}

.cin_tabs_723 li.cur, .cin_tabs_723 li:hover {
	background: url(../images/bg_723.png) no-repeat -1px 0;
}

.cin_tabs_723 li.last_723 {
	margin-right: 0px;
}

.cin_tabs_723 li p {
	line-height: 18px;
}

.h_s_cin .cin_area_723 {
	margin-top: 5px;
}

.cin_re_723 {
	position: relative;
	top: 1px;
}

.cin_re_723 li {
	float: left;
	display: inline;
	background: url(../images/pp2.png) -2px 0px no-repeat;
	width: 130px;
	height: 48px;
	padding-top: 8px;
	text-align: center;
	cursor: pointer;
	color: #222222;
	margin-right: 5px;
}

.cin_re_723 li p {
	line-height: 20px;
}

.cin_re_723 li.last_li {
	margin: 0px;
}

.cin_re_723 li.cur, .cin_re_723 li:hover {
	background: url(../images/pp1.png) -2px 0px no-repeat;
	color: #09a2dc;
}

.search1_723 {
	position: relative;
}

.search1_723 .act_ser {
	width: 280px;
	padding: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.hs_mtxt .reset-828 {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	padding-right: 10px;
}

.hs_mtxt .adress-828 {
	font-size: 12px;
}

.hot_cine .txt .a-828 a {
	color: #33b0f0;
}

.hot_cine .txt .a-828 a:hover {
	color: #444;
}

.kf_dw .ip_btn_828 a {
	text-decoration: underline;
}

.rw_box_905 {
	padding: 18px 20px;
}

.pre-film-month {
	padding: 20px;
}

.pre-film-month ul li {
	display: inline;
}

.pre-film-month ul li a {
	padding: 0px 8px;
	border-right: 1px solid #000;
}

.pre-film-month ul li:last-child a {
	border-right: 0px;
}

.pre-film-month ul li a.cur {
	color: #33b1ee;
	font-weight: bold;
}

.old-film-search {
	width: 100%;
	height: 43px;
	position: relative;
}

.old-film-search span {
	position: absolute;
	left: 10px;
	top: 0px;
}

.old-film-box {
	position: absolute;
	left: 120px;
	top: 0px;
}