@charset "utf-8";
/* CSS Document */
.clear{ clear:both;+height:1px;}
    .clearfix:after {content: "."; display: block;  height: 0; clear: both; visibility: hidden;}
	* html>body .clearfix { display: inline-block;  width: 100%;}
    * html .clearfix {
    /* Hides from IE-mac \*/
    height: 1%;
    /* End hide from IE-mac */
    }
       /* ie7 hack*/
 *+html .clearfix { min-height: 1% ; } 

/*购买会员-银卡会员*/
.myITVcontent{width:1002px;margin:15px auto 0;}
.myITVcontent .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;padding-bottom:30px;}
.myITVcontent .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;}

.myITVcontent .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent .ContentR .mainTitle p{float:left;margin-top: 19px; margin-left: 132px;}
.myITVcontent .ContentR .mainTitle p span{display:block;float:left;font-size:12px;}
.myITVcontent .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;}
.myITVcontent .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent .ContentR .detailContent{margin-left: 30px;}
.myITVcontent .ContentR .content1 .meberTable table{border:1px solid #a6d0e7;text-align: center;font-size:12px;color:#777777;float:left;margin-left: 160px;margin-right: 45px;_margin-left:80px;}
.myITVcontent .ContentR .content1 .meberTable table td{border:1px solid #a6d0e7;height:28px;}

.myITVcontent .ContentR .content2 .title2{margin-top:26px;margin-bottom:17px;}
.myITVcontent .ContentR .content2 .title2 span{display:block;float:left;}
.myITVcontent .ContentR .content2 .memberIntro .left{float:left;width:300px;}
.myITVcontent .ContentR .content2 .memberIntro .right{float:right;width:300px;}
.myITVcontent .ContentR .content2 .memberIntro .left .memberJibie1{text-align: center;}
.myITVcontent .ContentR .content2 .memberIntro .left .memberJibie1 span{display:block;}
.myITVcontent .ContentR .content2 .memberIntro .left .memberJibie1 a{display:block;}
.myITVcontent .ContentR .content2 .memberIntro .left h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent .ContentR .content2 .memberIntro .left table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent .ContentR .content2 .memberIntro .left table td{border: 1px solid #A6D0E7;height: 28px;}

.myITVcontent .ContentR .content2 .memberIntro .right .memberJibie2{text-align: center;}
.myITVcontent .ContentR .content2 .memberIntro .right .memberJibie2 span{display:block;}
.myITVcontent .ContentR .content2 .memberIntro .right .memberJibie2 a{display:block;}
.myITVcontent .ContentR .content2 .memberIntro .right h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent .ContentR .content2 .memberIntro .right table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent .ContentR .content2 .memberIntro .right table td{border: 1px solid #A6D0E7;height: 28px;}

/*金卡会员续费*/
.myITVcontent2{width:1002px;margin:15px auto 0;}
.myITVcontent2 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 1210px;}
.myITVcontent2 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;}

.myITVcontent2 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent2 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent2 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent2 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent2 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent2 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent2 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent2 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent2 .ContentR .mainTitle p{float:left;margin-top: 19px; margin-left: 132px;}
.myITVcontent2 .ContentR .mainTitle p span{display:block;float:left;font-size:12px;}
.myITVcontent2 .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;}
.myITVcontent2 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent2 .ContentR .detailContent{margin-left: 30px;}
.myITVcontent2 .ContentR .content1 .meberTable table{border:1px solid #a6d0e7;text-align: center;font-size:12px;color:#777777;float:left;margin-left: 160px;margin-right: 45px;_margin-left:80px;}
.myITVcontent2 .ContentR .content1 .meberTable table td{border:1px solid #a6d0e7;height:28px;}

.myITVcontent2 .ContentR .content2 .title2{margin-top:26px;margin-bottom:17px;}
.myITVcontent2 .ContentR .content2 .title2 span{display:block;float:left;}
.myITVcontent2 .ContentR .content2 .memberIntro .left{float:left;width:300px;}
.myITVcontent2 .ContentR .content2 .memberIntro .right{float:right;width:300px;}
.myITVcontent2 .ContentR .content2 .memberIntro .left .memberJibie1{text-align: center;}
.myITVcontent2 .ContentR .content2 .memberIntro .left .memberJibie1 span{display:block;}
.myITVcontent2 .ContentR .content2 .memberIntro .left .memberJibie1 a{display:block;}
.myITVcontent2 .ContentR .content2 .memberIntro .left h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent2 .ContentR .content2 .memberIntro .left table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent2 .ContentR .content2 .memberIntro .left table td{border: 1px solid #A6D0E7;height: 28px;}

.myITVcontent2 .ContentR .content2 .memberIntro .right .memberJibie2{text-align: center;}
.myITVcontent2 .ContentR .content2 .memberIntro .right .memberJibie2 span{display:block;}
.myITVcontent2 .ContentR .content2 .memberIntro .right .memberJibie2 a{display:block;}
.myITVcontent2 .ContentR .content2 .memberIntro .right h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent2 .ContentR .content2 .memberIntro .right table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent2 .ContentR .content2 .memberIntro .right table td{border: 1px solid #A6D0E7;height: 28px;}

/*金卡升级钻卡*/
.myITVcontent3{width:1002px;margin:15px auto 0;}
.myITVcontent3 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 548px;}
.myITVcontent3 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;}

.myITVcontent3 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent3 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent3 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent3 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent3 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent3 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent3 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent3 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent3 .ContentR .mainTitle p{float:left;margin-top: 19px; margin-left: 132px;}
.myITVcontent3 .ContentR .mainTitle p span{display:block;float:left;font-size:12px;}

.myITVcontent3 .ContentR .content1{border-bottom: 1px dashed #CCCCCC;}
.myITVcontent3 .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;margin-left: 44px;}
.myITVcontent3 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent3 .ContentR .content1 .meberTable{margin-left: 111px;padding-bottom: 27px;}
.myITVcontent3 .ContentR .content1 .meberTable span{display:block;float:left;}

.myITVcontent3 .ContentR .content2 .title2{margin-left: 44px;}
.myITVcontent3 .ContentR .content2 .title2 span{display:block;float:left;height: 30px;line-height: 30px;}

/*我的院线通-设置中心(安全设置)*/
.myITVcontent4{width:1002px;margin:15px auto 0;}
.myITVcontent4 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;}
.myITVcontent4 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom: 176px;}

.myITVcontent4 .side .listContent h3{font-size: 24px;padding-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent4 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent4 .side .sonList ul li{padding:0 28px;line-height: 27px;}
.myITVcontent4 .side .sonList ul li a{background:url(../images/img_03.png) 0px 10px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left:12px;border-top:1px dashed #ccc;}
.myITVcontent4 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent4 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent4 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent4 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}

.myITVcontent4 .ContentR .content1{margin-left: 98px;}
.myITVcontent4 .ContentR .content1 span{display:block;float:left;}
.myITVcontent4 .ContentR .content1 a{display:block;float:right;margin-top: 23px;margin-right: 65px;}
.myITVcontent4 .ContentR .content1 .set1{font-size:18px;color:#0099cc;height: 72px; line-height: 72px;}
.myITVcontent4 .ContentR .content1 .set2{font-size:18px;color:#0099cc;height: 66px; line-height: 66px;margin-top: 35px;margin-bottom: 35px;}
.myITVcontent4 .ContentR .content1 .set2 a{margin-top: 20px;}
.myITVcontent4 .ContentR .content1 .set3{font-size:18px;color:#0099cc;height: 73px; line-height: 73px;}

.myITVcontent4 .ContentR .mainContent .detailContent{margin-top: 40px;}

/*我的院线通-设置中心(资料设置)*/
.myITVcontent5{width:1002px;margin:15px auto 0;}
.myITVcontent5 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 608px;}
.myITVcontent5 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom: 56px;_width:750px;}

.myITVcontent5 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent5 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent5 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent5 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent5 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent5 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;_margin-right:20px;}
.myITVcontent5 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent5 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}

.myITVcontent5 .ContentR .mainContent .part1{border-bottom: 1px dashed #CCCCCC;padding-bottom:17px;}
.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .left{float:left;width:170px;margin-right:46px;margin-left: 14px;}
.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .right{float:left;}

.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .left .loadPic{margin-top: 10px; height: 24px;line-height: 24px;padding-left: 40px;}
.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .left .loadPic span{display:block;float:left;}
.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .left .loadPic a{display:block;float:left;margin-left: 10px;}
.myITVcontent5 .ContentR .mainContent .part1 .userDataEnter .right select{width: 87px;text-align: center;padding-top: 5px;height: 26px;color: #666666;}

.myITVcontent5 .ContentR .mainContent .part2 .chooseLike{margin-left: 38px;margin-top: 25px;}
.myITVcontent5 .ContentR .mainContent .part2 .chooseLike span{display:block;float:left;margin-right: 26px;*margin-right:20px;}
.myITVcontent5 .ContentR .mainContent .part2 .chooseLike input{display:block;float:left;margin-top: 4px; margin-right: 6px;}
.myITVcontent5 .ContentR .mainContent .part2 .chooseLike label{*margin-top: 4px;display:block;float:left;}


/*我的院线通-我的订单(有订单状态)*/
.myITVcontent6{width:1002px;margin:15px auto 0;}
.myITVcontent6 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 476px;}
.myITVcontent6 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom: 140px;}

.myITVcontent6 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent6 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent6 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent6 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent6 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent6 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent6 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent6 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}

.myITVcontent6 .ContentR .mainContent .webChoose span{display:block;float:left;margin-left: 30px;*margin-left:25px;}
.myITVcontent6 .ContentR .detailContent .content1{margin-top: 20px;}
.myITVcontent6 .ContentR .detailContent .tableList{margin-top: 38px;}
.myITVcontent6 .ContentR .detailContent .tableList .table1{border:1px solid #b3b3b3;margin:0 auto;}
.myITVcontent6 .ContentR .detailContent .tableList .table1 th{border:1px solid #b3b3b3;height:46px;line-height:46px;text-align:center;background-color:#ececec;}
.myITVcontent6 .ContentR .detailContent .tableList .table1 td{border:1px solid #b3b3b3;height:36px;line-height:36px;text-align:center;}

/*我的院线通-我的账户(兑换劵)*/
.myITVcontent7{width:1002px;margin:15px auto 0;}
.myITVcontent7 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 540px;}
.myITVcontent7 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom:58px;}

.myITVcontent7 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent7 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent7 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent7 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent7 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent7 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent7 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent7 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent7 .ContentR .mainTitle .titleRight{font-size:12px;float:right; height: 50px; line-height: 50px;}
.myITVcontent7 .ContentR .mainTitle .titleRight p{float:left;margin-right: 37px;}
.myITVcontent7 .ContentR .mainTitle .titleRight span{float:left;display:block;}

.myITVcontent7 .ContentR .detailContent .tableList{margin-top: 20px;}
.myITVcontent7 .ContentR .detailContent .tableList .table1{border:1px solid #b3b3b3;margin:0 auto;}
.myITVcontent7 .ContentR .detailContent .tableList .table1 th{border:1px solid #b3b3b3;height:46px;line-height:46px;text-align:center;background-color:#ececec;}
.myITVcontent7 .ContentR .detailContent .tableList .table1 td{border:1px solid #b3b3b3;height:36px;line-height:36px;text-align:center;}

.myITVcontent7 .ContentR .content2{ border-bottom: 1px dashed #CCCCCC;padding-bottom: 22px;}
.myITVcontent7 .ContentR .content2 .title1{margin-top:17px;margin-bottom:17px;margin-left: 24px;height:31px;line-height:31px;}
.myITVcontent7 .ContentR .content2 .title1 span{display:block;float:left;}

.myITVcontent7 .ContentR .content2 .juanEntry{margin-left: 90px;}
.myITVcontent7 .ContentR .content2 .juanEntry p{float:left;}
.myITVcontent7 .ContentR .content2 .juanEntry p input{width: 227px; height: 28px; line-height: 28px; color: rgb(204, 204, 204);padding-left:2px;}

.myITVcontent7 .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;margin-left: 24px;height:31px;line-height:31px;}
.myITVcontent7 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent7 .ContentR .content1 .tableList .noUser{color:#0099cc;}
.myITVcontent7 .ContentR .content1 .tableList .userNow{color:#ff0000;}

/*我的院线通-我的账户(天翼积分)*/
.myITVcontent8{width:1002px;margin:15px auto 0;}
.myITVcontent8 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 540px;}
.myITVcontent8 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom:58px;}

.myITVcontent8 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent8 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent8 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent8 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent8 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent8 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent8 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent8 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent8 .ContentR .mainTitle .titleRight{font-size:12px;float:right; height: 50px; line-height: 50px;}
.myITVcontent8 .ContentR .mainTitle .titleRight p{float:left;margin-right: 37px;}
.myITVcontent8 .ContentR .mainTitle .titleRight span{float:left;display:block;}

.myITVcontent8 .ContentR .detailContent .tableList{margin-top: 20px;}
.myITVcontent8 .ContentR .detailContent .tableList .table1{border:1px solid #b3b3b3;margin:0 auto;}
.myITVcontent8 .ContentR .detailContent .tableList .table1 th{border:1px solid #b3b3b3;height:46px;line-height:46px;text-align:center;background-color:#ececec;}
.myITVcontent8 .ContentR .detailContent .tableList .table1 td{border:1px solid #b3b3b3;height:36px;line-height:36px;text-align:center;}

.myITVcontent8 .ContentR .content2{ border-bottom: 1px dashed #CCCCCC;padding-bottom: 22px;}
.myITVcontent8 .ContentR .content2 .title1{margin-top:17px;margin-bottom:17px;margin-left: 24px;height:31px;line-height:31px;}
.myITVcontent8 .ContentR .content2 .title1 span{display:block;float:left;}

.myITVcontent8 .ContentR .content2 .juanEntry{margin-left: 90px;}
.myITVcontent8 .ContentR .content2 .juanEntry span{display:block;float:left;margin-right: 14px;}

.myITVcontent8 .ContentR .content1{margin-top:20px;}
.myITVcontent8 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent8 .ContentR .content1 .youhuijuan span{display:block;float:left;}
.myITVcontent8 .ContentR .content1 .youhuijuan .juan1{width:252px;margin-top: 15px;float:left;margin-left: 60px;}
.myITVcontent8 .ContentR .content1 .youhuijuan .juan2{width:252px;margin-top: 15px;float:left;margin-left: 85px;}
.myITVcontent8 .ContentR .content1 .youhuijuan .juan3{width:252px;margin-top: 55px;float:left;margin-left: 60px;}
.myITVcontent8 .ContentR .content1 .youhuijuan .juan4{width:252px;margin-top: 55px;float:left;margin-left: 85px;}

/*我的院线通-我的账户(影币)*/
.myITVcontent9{width:1002px;margin:15px auto 0;}
.myITVcontent9 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 540px;}
.myITVcontent9 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;padding-bottom:58px;}

.myITVcontent9 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent9 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent9 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent9 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent9 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent9 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent9 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent9 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent9 .ContentR .mainTitle .titleRight{font-size:12px;float:right; height: 50px; line-height: 50px;}
.myITVcontent9 .ContentR .mainTitle .titleRight p{float:left;margin-right: 37px;}
.myITVcontent9 .ContentR .mainTitle .titleRight span{float:left;display:block;}

.myITVcontent9 .ContentR .detailContent .tableList{margin-top: 20px;}
.myITVcontent9 .ContentR .detailContent .tableList .table1{border:1px solid #b3b3b3;margin:0 auto;}
.myITVcontent9 .ContentR .detailContent .tableList .table1 th{border:1px solid #b3b3b3;height:46px;line-height:46px;text-align:center;background-color:#ececec;}
.myITVcontent9 .ContentR .detailContent .tableList .table1 td{border:1px solid #b3b3b3;height:36px;line-height:36px;text-align:center;}

.myITVcontent9 .ContentR .content2{ border-bottom: 1px dashed #CCCCCC;padding-bottom: 22px;}
.myITVcontent9 .ContentR .content2 .title1{margin-top:17px;margin-bottom:17px;margin-left: 24px;height:31px;line-height:31px;}
.myITVcontent9 .ContentR .content2 .title1 span{display:block;float:left;}

.myITVcontent9 .ContentR .content2 .juanEntry{margin-left: 70px;margin-bottom: 15px;}
.myITVcontent9 .ContentR .content2 .juanEntry p{float:left;}
.myITVcontent9 .ContentR .content2 .juanEntry p input{width: 227px; height: 28px;padding-left:2px; line-height: 28px; color: rgb(204, 204, 204);}

.myITVcontent9 .ContentR .content1 .title1 span{float:left;display:block;}
.myITVcontent9 .ContentR .content1{margin-top: 17px;}
.myITVcontent9 .ContentR .content1 .fushu{color:#ff0000;}
.myITVcontent9 .ContentR .content1 .zhengshu{color:#0088e0;}


/*我的院线通-我的资料(默认银卡会员)*/
.myITVcontent10{width:1002px;margin:15px auto 0;}
.myITVcontent10 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 608px;}
.myITVcontent10 .ContentR{float:right;width:758px;text-align: left;}

.myITVcontent10 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent10 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent10 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent10 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent10 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent10 .ContentR .mainContent{ padding-left: 20px;border: 1px solid #CDCDCD;background-color:#fff;margin-bottom: 10px;}
.myITVcontent10 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}

.myITVcontent10 .ContentR .mainContent .part1{padding-bottom:12px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .left{float:left;width:170px;margin-right:46px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .right{float:left;margin-top:-8px;}

.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .left .loadPic{margin-top: 10px; height: 24px;line-height: 24px;padding-left: 40px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .left .loadPic span{display:block;float:left;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .left .loadPic a{display:block;float:left;margin-left: 10px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .right select{width: 87px;text-align: center;padding-top: 5px;height: 26px;color: #666666;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .right span{display:block;float:left;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .right p{height:32px;line-height:32px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .right .leftLabel{margin-right: 7px;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab p{height:38px;line-height:38px;float:left;color:#fff;font-size:15px;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab span{float:left;display:block;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color1{width:120px;background-color:#64b3e0;text-align: center;overflow:hidden;white-space: nowrap;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color2{width:85px;background-color:#59ba47;text-align: center;overflow:hidden;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color3{width:85px;background-color:#f7b632;text-align: center;_width:97px;overflow:hidden;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color4{width:80px;background-color:#ee4740;text-align: center;_width:85px;overflow:hidden;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color5{width:250px;background-color:#ff6600;text-align: center;overflow:hidden;}
.myITVcontent10 .ContentR .mainContent .part1 .colorTab .color6{width:85px;background-color:#cc9999;text-align: center;overflow:hidden;}

.myITVcontent10 .ContentR .mainContent2{ padding-left: 10px;border: 1px solid #CDCDCD;background-color:#fff;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm .film1{width:140px;text-align: center;color:#666;float:left;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm .film2{width:140px;text-align: center;color:#666;float:left;margin-left:5px;margin-right:5px;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm .film3{width:140px;text-align: center;color:#666;float:left;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm .film4{width:140px;text-align: center;color:#666;float:left;margin-left:5px;margin-right:5px;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm .film5{width:140px;text-align: center;color:#666;float:left;}
.myITVcontent10 .ContentR .mainContent2 .bg1{background:url(../images/huodongBg.png) 0 0 no-repeat;width: 739px;height: 314px;}
.myITVcontent10 .ContentR .mainContent2 .content{padding-top:8px;position:relative;}
.myITVcontent10 .ContentR .mainContent2 .content .activityTitle{position:absolute;top:0;left:10px;}
.myITVcontent10 .ContentR .mainContent2 .bg2{background:url(../images/tabBG2.jpg) 0 0 no-repeat;width: 736px;height: 330px;}
.myITVcontent10 .ContentR .mainContent2 .hotTitle{padding-left: 67px;}
.myITVcontent10 .ContentR .mainContent2 .hotTitle span{display:block;float:left;width:183px;height:45px;cursor:pointer;margin-right: 15px;}
.myITVcontent10 .ContentR .mainContent2 .buyFilm{margin-left: 8px; margin-top: 26px;}
.myITVcontent10 .ContentR .mainContent2 .hotFun{padding-top:55px;}
.myITVcontent10 .ContentR .mainContent2 .hotFun span{display:block;float:left;}
.myITVcontent10 .ContentR .mainContent2 .hotFun a{display:block;float:left;}
.myITVcontent10 .ContentR .mainContent2 .hotFun .fun1{width:306px;float:left;margin-left: 45px;_margin-left:25px;}
.myITVcontent10 .ContentR .mainContent2 .hotFun .fun2{width:306px;float:left;margin-left: 35px;_margin-left:30px;}

.myITVcontent10 .ContentR .mainContent2 .filmEnd div{float:left;width:140px;text-align:center; margin-left: 6px;}


/*银卡会员升级至金卡会员*/
.myITVcontent11{width:1002px;margin:15px auto 0;}
.myITVcontent11 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 548px;}
.myITVcontent11 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;}

.myITVcontent11 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent11 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent11 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent11 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent11 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent11 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent11 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent11 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent11 .ContentR .mainTitle p{float:left;margin-top: 19px; margin-left: 132px;}
.myITVcontent11 .ContentR .mainTitle p span{display:block;float:left;font-size:12px;}

.myITVcontent11 .ContentR .content1{border-bottom: 1px dashed #CCCCCC;}
.myITVcontent11 .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;margin-left: 44px;}
.myITVcontent11 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent11 .ContentR .content1 .meberTable{margin-left: 111px;padding-bottom: 27px;}
.myITVcontent11 .ContentR .content1 .meberTable span{display:block;float:left;}

.myITVcontent11 .ContentR .content2 .title2{margin-left: 44px;margin-top: 20px;margin-bottom: 20px;}
.myITVcontent11 .ContentR .content2 .title2 span{display:block;float:left;height: 30px;line-height: 30px;}
.myITVcontent11 .ContentR .content2 .memberCard div{float:left; margin-left: 100px;_margin-left:60px;}


/*钻卡会员续费*/
.myITVcontent12{width:1002px;margin:15px auto 0;}
.myITVcontent12 .side{float:left;background-color:#fff;border: 1px solid #CDCDCD; width: 226px;text-align: left;height: 1197px;}
.myITVcontent12 .ContentR{float:right;background-color:#fff;width:758px;border: 1px solid #CDCDCD;text-align: left;}

.myITVcontent12 .side .listContent h3{font-size: 24px;margin-left: 28px;height: 40px;line-height: 40px;}
.myITVcontent12 .side .sonList h4{font-size:18px;color:#0099cc;background-color:#f4f3f3;height:42px;line-height:42px; padding-left: 28px;}
.myITVcontent12 .side .sonList ul li{padding-left: 28px;height: 27px; line-height: 27px;}
.myITVcontent12 .side .sonList ul li a{background:url(../images/img.png) -208px -359px no-repeat;font-size: 14px;font-family: "宋体";display:block;padding-left: 12px;border-top:1px dashed #ccc;}
.myITVcontent12 .side .sonList ul li.first a{border-top:none;margin-top:10px;}

.myITVcontent12 .ContentR .mainContent{ margin-left: 25px;margin-right: 25px;}
.myITVcontent12 .ContentR .mainTitle{border-bottom:1px dashed #ccc;}
.myITVcontent12 .ContentR .mainTitle h3{font-size: 24px;height: 50px;line-height: 50px;float:left;}
.myITVcontent12 .ContentR .mainTitle p{float:left;margin-top: 19px; margin-left: 132px;}
.myITVcontent12 .ContentR .mainTitle p span{display:block;float:left;font-size:12px;}
.myITVcontent12 .ContentR .content1 .title1{margin-top:17px;margin-bottom:17px;}
.myITVcontent12 .ContentR .content1 .title1 span{display:block;float:left;}
.myITVcontent12 .ContentR .detailContent{margin-left: 30px;}
.myITVcontent12 .ContentR .content1 .meberTable table{border:1px solid #a6d0e7;text-align: center;font-size:12px;color:#777777;float:left;margin-left: 160px;margin-right: 45px;_margin-left:80px;}
.myITVcontent12 .ContentR .content1 .meberTable table td{border:1px solid #a6d0e7;height:28px;}

.myITVcontent12 .ContentR .content2 .title2{margin-top:26px;margin-bottom:17px;}
.myITVcontent12 .ContentR .content2 .title2 span{display:block;float:left;}
.myITVcontent12 .ContentR .content2 .memberIntro .right{width:500px;margin: 0 auto;}
.myITVcontent12 .ContentR .content2 .memberIntro .left .memberJibie1{text-align: center;}
.myITVcontent12 .ContentR .content2 .memberIntro .left .memberJibie1 span{display:block;}
.myITVcontent12 .ContentR .content2 .memberIntro .left .memberJibie1 a{display:block;}
.myITVcontent12 .ContentR .content2 .memberIntro .left h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent12 .ContentR .content2 .memberIntro .left table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent12 .ContentR .content2 .memberIntro .left table td{border: 1px solid #A6D0E7;height: 28px;}

.myITVcontent12 .ContentR .content2 .memberIntro .right .memberJibie2{text-align: center;}
.myITVcontent12 .ContentR .content2 .memberIntro .right .memberJibie2 span{display:block;}
.myITVcontent12 .ContentR .content2 .memberIntro .right .memberJibie2 a{display:block;}
.myITVcontent12 .ContentR .content2 .memberIntro .right h4{color:#f55100;margin-top: 26px;margin-bottom: 5px;}
.myITVcontent12 .ContentR .content2 .memberIntro .right table{border: 1px solid #A6D0E7;color: #777777;text-align: center; font-size: 12px;}
.myITVcontent12 .ContentR .content2 .memberIntro .right table td{border: 1px solid #A6D0E7;height: 28px;}

.focusColor{color:#f55100;}


/* 2014-01-15 */
.mod_pow, .mod_vip{margin-top:15px;}
.mod_pow{padding-bottom:10px;}
.mod_pow .mod_txt, .mod_vip .mod_txt{height:28px;overflow:hidden;}
.mod_pow .mod_txt h3, .mod_vip .mod_txt h3{height:28px;line-height:28px;color:#595959;}
.mod_pow .mod_txt .icon, .mod_vip .mod_txt .icon{float:left;display:inline;background:url(../images/icon1.jpg) no-repeat 0 0;width:28px;height:28px;margin-right:5px;}
.mod_pow .mod_hd{width:320px;margin:0 auto;}
.mod_table td{border:1px #a6d0e7 solid;padding:5px 12px;font-size:12px;color:#777777;}
.mod_btns{margin-top:5px;text-align:right;}
.mod_btns .btns{display:inline-block;background:url(../images/garyMore.png) no-repeat;width:115px;height:20px;line-height:20px;font-size:12px;font-weight:bold;color:#777777;text-align:center;}
.mod_btns .btns:hover{color:#0099cc;}

.mod_vip{padding-bottom:15px;}
.mod_vip .mod_txt .icon{background:url(../images/icon2.jpg) no-repeat 0 0;}
.mod_vip .mod_hd{margin-top:10px;}
.mod_va{width:315px;padding:10px;}
.mod_va .mod_pic{text-align:center;}
.mod_va .mod_md{font-size:12px;color:#777;}
.mod_va .mod_md h4{font-size:12px;text-align:center;}
.mod_va .mod_md p{text-align:center;}
.mod_va .mod_bd{margin-top:10px;}

.mod_v_sel{margin-top:5px;}
.mod_v_sel .mod_b{width:150px;padding:0 5px 0 0;overflow:hidden;}
.mod_v_sel .mod_gray{background:#e9e9e9;width:106px;margin:0 auto 4px;padding:5px;border-radius:4px;}
.mod_v_sel .mod_gray span{display:block;}
.mod_v_sel .mod_gray .t_1{text-align:center;height:24px;line-height:24px;}
.mod_v_sel .mod_gray .t_2{text-align:center;height:34px;font:24px/34px "Microsoft YaHei";color:#0192dd;}
.mod_v_sel .t_times{margin-bottom:4px;text-align:center;}
.mod_v_sel .btn{display:block;width:70px;height:24px;background-color:#47b7ff;border:1px #059bff solid;font:14px/24px "Microsoft YaHei";text-align:center;color:#fff;margin:0 auto;}
.mod_btns .btn:hover{color:#0099cc;}

.mod_va_line{background:url(../images/tableLine.jpg) no-repeat 100% 50%;}

/* 2014.3.26 start*/
.my-grade img{display:block;}
.my-change{margin-left:10px;}
.myITVcontent10 .ContentR .mainContent .part1 .userDataEnter .left .my-changeInfo{margin:0px 0px 10px;}
.my-infoSub{border:0 none;background:none;background:#47b7ff;cursor:pointer;color:white;width:100px;height:30px;line-height:30px;margin:0px;margin-left:315px;}
.my-tubiao{margin-top: 5px; margin-right: 6px;}
.my-pay{margin:0px auto;}
/* 2014.3.26 end*/
.myITVcontent8 .ContentR .content1 .youhuijuan .add_juan1{width:282px;}
.sendCoin{display:block;width:68px;height:27px;background:#33b0f0;border-radius:3px;color:#FFF;text-align:center;line-height:27px;font-family:"新宋体";}
.sendCoinWid{width:100px;margin:0 auto;}
.sendCoin:hover{color:#FFF;}
.gotoPage{text-align:center;margin-top:15px;}
.gotoPage span{padding:4px 8px;}
.gotoPage a{background:#33b0f0;color:#FFF;padding:6px 12px;}
.comfirmPos{margin:0px auto  80px;}
.juanCon{margin-left:110px;}
.padLeft{padding-left:178px;}
.juanCon p{line-height:26px;}
.juanCon p span{padding:0px 10px;}
.groupnCon{width:615px;margin:0 auto 10px;font-size:13px;padding-left:18px;color:#9d9d9d;background:url(../images/icon9h.png) 2px center no-repeat;}


/*----------------member change*/
.myITVcontent .ContentR1{width:760px;border:0px;background:none;}
.myITVcontent .ContentR1 .mainContent{width:708px;padding:0px 25px;border:1px solid #cdcdcd;border-bottom:0px;margin:0px;background-color:#FFF;}
.myITVcontent .ContentR-1218{border-bottom:0px;}
.myITVcontent .ContentR-1218 .mainTitle p span{line-height:23px;}
.myITVcontent .ContentR-1218 .mainTitle p span.goMem{margin-left:65px;}
.myITVcontent .ContentR-1218 .mainTitle p span.goMem a{color:#69c4f3;text-decoration:underline;}
.myITVcontent .mem-grade{width:760px;margin-top:5px;}
.myITVcontent .mem-grade .grade-class{width:248px;height:640px;padding-top:15px;border:1px solid #CDCDCD;float:left;background:#FFF;position:relative;}
.myITVcontent .mem-grade .grade-class1{margin-right:5px;}
.myITVcontent .mem-grade .grade-class .already-get{position:absolute;right:0px;top:0px;}
.myITVcontent .mem-grade .grade-class img{display:block;margin:0px auto 15px;}
.myITVcontent .mem-grade .grade-class .class-detail{width:180px;margin:0 auto;}
.myITVcontent .mem-grade .grade-class .class-detail p{color:#818080;font-size:13px;line-height:20px;}
.myITVcontent .mem-grade .grade-class .class-detail p span{color:#f5614e;}
.myITVcontent .mem-grade .grade-class .class-detail .class-title{font-size:22px;color:#000;line-height:30px;}
.myITVcontent .mem-grade .grade-class .class-line{position:absolute;bottom:94px;left:34px;width:180px;height:12px;border-top:1px dashed #CDCDCD; }
.myITVcontent .mem-grade .grade-class .class-go{width:220px;height:80px;position:absolute;bottom:12px;left:12px;background:#f7f7f7;}
.myITVcontent .mem-grade .grade-class .class-go1{background:#f9f5e6;}
.myITVcontent .mem-grade .grade-class .class-go .class-remind{line-height:16px;color:#8b8b8b;font-size:13px;text-align:center;}
.myITVcontent .mem-grade .grade-class .class-go .class-remind1{padding-top:25px;}
.myITVcontent .mem-grade .grade-class .class-go1 p{margin-top:10px;}
.myITVcontent .mem-grade .grade-class .class-go1 p span{line-height:26px;font-size:13px;display:inline-block;}
.myITVcontent .mem-grade .grade-class .class-go1 p span.class-month{color:#000;margin-left:15px;}
.myITVcontent .mem-grade .grade-class .class-go1 p span.class-price{color:#e9411e;}
.myITVcontent .mem-grade .grade-class .class-go1 p span.class-btn{float:right;margin-right:15px;}
.myITVcontent .mem-grade .grade-class .class-go1 p span.class-btn a{display:block;color:#FFF;font-size:14px;background:#eb290f;padding:0px 25px;line-height:26px;}

.ct_wrapper .zhifu-1229{}