<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.mt.mapper.CinemaMapper">

	<resultMap id="BaseResultMap" type="com.mdd.mt.model.Cinema">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="cinema_name" property="cinemaName" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="map_info" property="mapInfo" jdbcType="VARCHAR" />
		<result column="introduction" property="introduction" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>
		<resultMap id="movietMap" type="com.mdd.mt.model.Movie">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="movie_name" property="movieName" jdbcType="VARCHAR" />
		<result column="movie_english_name" property="movieEnglishName"
			jdbcType="VARCHAR" />
		<result column="director" property="director" jdbcType="VARCHAR" />
		<result column="performer" property="performer" jdbcType="VARCHAR" />
		<result column="movie_type" property="movieType" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="movie_language" property="movieLanguage"
			jdbcType="VARCHAR" />
		<result column="movie_time" property="movieTime" jdbcType="VARCHAR" />
		<result column="movie_story" property="movieStory" jdbcType="VARCHAR" />
		<result column="poster_url" property="posterUrl" jdbcType="VARCHAR" />
		<result column="rescheduled_time" property="rescheduledTime"
			jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="DOUBLE" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>

	<sql id="Base_Column_List" >
		id, city, area, address, cinema_name, tel, map_info,
		introduction,picture,
		create_time ,cinema_desc
	</sql>
	

	<!--根据id查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_cinema
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!--根据影院的电话号码查询 -->
	<select id="selectByTel" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_cinema
		where tel = #{tel,jdbcType=VARCHAR}
	</select>

	<!--根据城市查询 -->
	<select id="loadAreaByCity" resultType="java.lang.String">
		select
		distinct(area)
		from
		t_cinema
		where city = #{city,jdbcType=VARCHAR}
	</select>



	<!--根据影院的电话号码查询 -->
	<select id="loadCinemaList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_cinema
		<where>
			<if test="city!=null and city!=''">
				city = #{city,jdbcType=VARCHAR}
			</if>
			<if test="area!=null and area!=''">
				and  area = #{area,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<!--根据影院的id查询 -->
	<select id="loadCinemaById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_cinema
		where id = #{cinemaId}
		
	</select>
	
	
	<select id="loadMovieByCinemaId" resultMap="movietMap" >
		select
		m.id,m.poster_url,m.movie_name
		from t_movie as m,t_movie_cinema as mc
		where 
		mc.cinema_id = #{cinemaId,jdbcType=INTEGER} 
		and 
		m.id = mc.movie_id	
	</select>
	
	
	<!--删除影院信息 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_cinema
		where id = #{id,jdbcType=INTEGER}
	</delete>


	<!--插入影院信息 -->
	<insert id="insertCinema" parameterType="com.mdd.mt.model.Cinema"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_cinema (id, city,
		area,
		address, cinema_name, tel,
		map_info, introduction,picture,
		create_time,cinema_desc
		)
		values (#{id,jdbcType=INTEGER},
		#{city,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{cinemaName,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR},
		#{mapInfo,jdbcType=VARCHAR},
		#{introduction,jdbcType=VARCHAR},
		#{picture,jdbcType=VARCHAR},
		now(),#{cinemaDesc,jdbcType=VARCHAR}
		)
	</insert>

	<!--批量插入 -->
	<insert id="saveCinemaList" parameterType="java.util.List">
		insert into t_cinema (id, city, area,
		address, cinema_name, tel,
		map_info, introduction,picture, create_time,cinema_desc
		)
		VALUES
		<foreach collection="cinemaList" item="movie" index="index"
			separator=",">
			(
			#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR},
			#{area,jdbcType=VARCHAR},
			#{address,jdbcType=VARCHAR},
			#{cinemaName,jdbcType=VARCHAR},
			#{tel,jdbcType=VARCHAR},
			#{mapInfo,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR},
			#{picture,jdbcType=VARCHAR},
			now(),#{cinemaDesc,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>



</mapper>