<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.mt.mapper.CinemaMapper" >

  <resultMap id="BaseResultMap" type="com.mdd.mt.model.Cinema" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="cinema_name" property="cinemaName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="map_info" property="mapInfo" jdbcType="VARCHAR" />
    <result column="detail_schedule_url" property="detailScheduleUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, city, area, address, cinema_name, tel, map_info, detail_schedule_url, create_time
  </sql>

  <!--根据id查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cinema
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--删除影院信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cinema
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--插入影院信息-->
  <insert id="insert" parameterType="com.mdd.mt.model.Cinema" >
    insert into t_cinema (id, city, area, 
      address, cinema_name, tel, 
      map_info, detail_schedule_url, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{cinemaName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{mapInfo,jdbcType=VARCHAR}, #{detailScheduleUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>

  <!--批量插入-->
  <insert id="saveCinemaList" parameterType="java.util.List">
    insert into t_cinema (id, city, area,
      address, cinema_name, tel,
      map_info, detail_schedule_url, create_time
    )
    VALUES
    <foreach collection="cinemaList" item="movie" index="index" separator=",">
    (
      #{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{cinemaName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{mapInfo,jdbcType=VARCHAR}, #{detailScheduleUrl,jdbcType=VARCHAR}, now()
    )
    </foreach>
  </insert>


</mapper>