<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.mt.mapper.CommentMapper">
	<resultMap id="BaseResultMap" type="com.mdd.mt.model.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="movie_id" property="movieId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="dianzan" property="dianzan" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.mdd.mt.model.Comment"
		extends="BaseResultMap">
		<result column="comment" property="comment" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, movie_id, user_id, score, dianzan, create_time
	</sql>
	<sql id="Blob_Column_List">
		comment
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_comment
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getCommentByMovieId" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_comment
		where movie_id = #{movieId,jdbcType=INTEGER} order by create_time desc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_comment
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mdd.mt.model.Comment">
		insert into t_comment (id, movie_id, user_id,
		score, dianzan, create_time,
		comment)
		values (#{id,jdbcType=INTEGER}, #{movieId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{score,jdbcType=INTEGER}, #{dianzan,jdbcType=INTEGER}, now(),
		#{comment,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mdd.mt.model.Comment">
		insert into t_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="movieId != null">
				movie_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="dianzan != null">
				dianzan,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="comment != null">
				comment,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="movieId != null">
				#{movieId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="dianzan != null">
				#{dianzan,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mdd.mt.model.Comment">
		update t_comment
		<set>
			<if test="movieId != null">
				movie_id = #{movieId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
			<if test="dianzan != null">
				dianzan = #{dianzan,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mdd.mt.model.Comment">
		update t_comment
		set movie_id = #{movieId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		score = #{score,jdbcType=INTEGER},
		dianzan = #{dianzan,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=DATE},
		comment = #{comment,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mdd.mt.model.Comment">
		update t_comment
		set movie_id = #{movieId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		score = #{score,jdbcType=INTEGER},
		dianzan = #{dianzan,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=DATE}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>