<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.mt.mapper.MovieMapper">
	<resultMap id="BaseResultMap" type="com.mdd.mt.model.Movie">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="movie_name" property="movieName" jdbcType="VARCHAR" />
		<result column="movie_english_name" property="movieEnglishName"
			jdbcType="VARCHAR" />
		<result column="director" property="director" jdbcType="VARCHAR" />
		<result column="performer" property="performer" jdbcType="VARCHAR" />
		<result column="movie_type" property="movieType" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="movie_language" property="movieLanguage"
			jdbcType="VARCHAR" />
		<result column="movie_time" property="movieTime" jdbcType="VARCHAR" />
		<result column="movie_story" property="movieStory" jdbcType="VARCHAR" />
		<result column="poster_url" property="posterUrl" jdbcType="VARCHAR" />
		<result column="rescheduled_time" property="rescheduledTime"
			jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="DOUBLE" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>



	<sql id="Base_Column_List">
		id, movie_name, movie_english_name, director, performer, movie_type,
		country, movie_language,
		movie_time,movie_story, poster_url, rescheduled_time, score, is_show, create_time
	</sql>


	<!--根据id查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		*
		from t_movie
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!--根据电影名查询(电影名设为唯一索引) -->
	<select id="selectByMovieName" resultMap="BaseResultMap">
		select
		*
		from t_movie
		where movie_name = #{movieName,jdbcType=VARCHAR}
	</select>



	<!--根据id删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_movie
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<!--批量插入 -->
	<insert id="insertMovie" parameterType="com.mdd.mt.model.Movie"
		useGeneratedKeys="true" keyProperty="id">
		INSERT into t_movie
		(movie_name,movie_english_name,director,performer,movie_type,country,movie_language,movie_time,movie_story,poster_url,
		rescheduled_time,score,is_show,create_time)
		VALUES
		(#{movieName},#{movieEnglishName},#{director},#{performer},
		#{movieType},#{country},#{movieLanguage},#{movieTime},
		#{movieStory},#{posterUrl},#{rescheduledTime},#{score},
		#{isShow},NOW())

	</insert>

	<!--批量插入 -->
	<insert id="saveMovieList" parameterType="java.util.List">
		INSERT into t_movie
		(movie_name,movie_english_name,director,performer,movie_type,country,movie_language,movie_time,movie_story,poster_url,
		rescheduled_time,score,is_show,create_time)
		VALUES
		<foreach collection="list" item="movie" index="index"
			separator=",">
			(#{movie.movieName},#{movie.movieEnglishName},#{movie.director},#{movie.performer},
			#{movie.movieType},#{movie.country},#{movie.movieLanguage},#{movie.movieTime},
			#{movie.movieStory},#{movie.posterUrl},#{movie.rescheduledTime},#{movie.score},
			#{movie.isShow},NOW())
		</foreach>
	</insert>

</mapper>